.about-me {
	// padding-bottom: 40px;
}
.about-me__title {
	// margin-bottom: 15px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		// font-size: 17px;
		// font-weight: 700;
		// line-height: 27px;
		// color: #000;
		// margin-bottom: 0;
	}
}
.about-me__content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 17px;
		line-height: 28px;
		font-weight: 700;
		color: #000;
		margin-bottom: 15px;
	}
	p {
		font-size: 14px;
		line-height: 23px;
		font-weight: 400;
		margin-bottom: 20px;
	}
}

.about-me__iframe {
	width: 100%;
	height: 100%;
	@include mxl() {
		height: 300px;
	}
	@include msm() {
		height: 200px;
	}
}

.about-me__details {
	ul {
		li {
			margin-bottom: 10px;
			
			font-size: 14px;
			line-height: 20px;
			color: #333;
			width: 100%;
			@include md() {
			}
			@include lg() {
				width: 100%;
				flex: 0 0 50%;
				max-width: 50%;
				
			}
			@include xl() {
				flex: 0 0 33.3%;
				max-width: 33.3%;
			}
		}
	}
}

.about-me__personal {
	& > ul {

		& > li {
			margin-bottom: 20px;
			@include sm() {
				flex: 0 0 45%;
				max-width: 45%;
				width: 100%;
			}
			& > div {
				font-size: 14px;
				line-height: 20px;
				color: #3aa84c;
				font-weight: 700;
			}
			.icon-svg {
				width: 12px;
				height: 9px;
				margin-right: 10px;
			}
			& > ul {
				padding-left: 22px;
				& > li {
					line-height: 21px;
				}
			}
		}
	}
}

.about-me__contacts {
	ul {
		
	}
	li {
		margin-bottom: 10px;
		width: 100%;
		@include xl() {
			flex: 0 0 40%;
			max-width: 40%;
		}
	}
	span {
		font-size: 14px;
		line-height: 21px;
	}
	strong {
		font-weight: 700;
	}
	a {
		color: #b13b3b;
	}
}

