.best-work {
	&:hover {
		text-decoration: none;
	}
}
.best-work__img {
	border-radius: 4px;
	height: 180px;
}

.best-work__content {
	h5 {
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
		color: #000;
		margin-bottom: 5px;
	}
	p {
		font-size: 11px;
		color: #666;
		span {

		}
	}
}