.case-box {
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	
	&:before {
		content: '';

		position: absolute;
		
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: rgba(#000, .6);
		// background-color: #333333;
		border: 4px solid transparent;
		transition: ease .1s;
	}
	&:hover {
		&:before {
			border-color: #b13b3b;			
		}		
	}
}
.case-box__img {
	height: 250px;
	object-fit: cover;
}
.case-box__content {
	position: absolute;
	
	left: 0;
	right: 0;
	bottom: 0;
	
	color: #fff;
	padding: 20px;
	h2 {
		font-size: 18px;
		margin: 0;
		line-height: 24px;
		font-weight: 700;
	}
	span {
		font-size: 11px;
		line-height: 24px;
		color: rgba(#fff, .6);
	}
	strong {
		font-size: 10px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		
	}
}