.catalog-sidebar {

}
.catalog-sidebar__title {
	margin-bottom: 17px;
}
.catalog-sidebar__item {
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
	h3 {
		font-size: 13px;
		line-height: 22px;
		color: #000;
		font-weight: 700;
		margin-bottom: 7px;
	}
	p {
		font-size: 13px;
		line-height: 22px;
		margin-bottom: 7px;
	}
	.select {
		background-color: #fff;
		font-size: 13px;
		border: 1px solid #e4e4e7;
		padding-bottom: 11px;
		padding-left: 12px;
	}
}
.catalog-sidebar__select {
	margin-bottom: 15px;
}
.catalog-sidebar__check {
	margin-bottom: 20px;
	input {
		&:checked {
			& + label {
				font-weight: 400;
			}
		}
	}
	label {
		font-size: 13px;
		line-height: 20px;
		&:before {
			top: 0;

			// background: none;
		}
	}
}
.catalog-sidebar__txt {
	margin-bottom: 6px;
	font-size: 13px;
	line-height: 22px;
}
.catalog-sidebar__radio-row {

}
.catalog-sidebar__radio {
	margin-right: 40px;
	&:last-child {
		margin-right: 0;
	}
	input {
	}
	label {
		&:before {
			background-image: url('../images/radio-passive-white.png');
		}
	}
}
.catalog-sidebar__inputs {
	margin-left: -3px;
	margin-right: -3px;

	font-size: 13px;
	line-height: 22px;
	margin-bottom: 15px;
}
.catalog-sidebar__input {
	padding-left: 3px;
	padding-right: 3px;
	width: 100%;
	max-width: 48%;
	flex: 0 0 48%;
	input {
		background-color: #ffffff;
		border: 1px solid #e4e4e7;
		border-radius: 4px;

		font-size: 13px;
		line-height: 1;
		padding: 12px 10px 11px;
		width: 100%;
		@include iph() {
			font-size: 13px;
			line-height: 1;
		}
	}
	&.devide {
		max-width: 4%;
		flex: 0 0 4%;
		text-align: center;
	}
}
.catalog-sidebar__check-list {
	margin-top: 12px;
	.catalog-sidebar__check {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.catalog-sidebar__submit {
	width: 120px;
}

.catalog-sidebar_mob {
	
}