.client-list {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;

		background-color: #fff;
		width: 2px;
		height: 100%;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: #fff;
		height: 2px;
		width: 100%;
	}
}

.client-list__col {
	width: 100%;
	border-bottom: 1px solid #ededef;
	height: 150px;
	@media only screen and(min-width: 430px) {
		height: 240px;
		max-width: 50%;
		flex: 0 0 50%;
		border-right: 1px solid #ededef;
	}
	@include md() {
		max-width: 33.3%;
		flex: 0 0 33.3%;
	}
	@media only (min-width: 768px) and (max-width: 991px) {
	}
	@include xl() {
		max-width: 20%;
		flex: 0 0 20%;
	}
}