.comment {
	background-color: #f6f7f9;
	border: 1px solid #e2e2e5;
	border-radius: 4px;
	padding: 30px;
	margin-bottom: 20px;
	@include mmd() {
		padding: 15px;
		margin-bottom: 10px;
	}
}
.comment__user {
	.user-wrap__title {
		position: relative;
		top: -5px;
		font-size: 12px;
		line-height: 16px;
	}
	.user-wrap__col {
		margin-bottom: 10px;
	}
}
.comment__head-btns {
	margin-left: -5px;
	margin-right: -5px;
	.button-border {
		margin-left: 5px;
		margin-right: 5px;
	}
}
.comment__note-link {
	font-size: 13px;
	line-height: 26px;
}
.comment__message {
	background-color: #fff;
	padding: 25px;
	border: 1px solid #e2e2e5;
	border-radius: 4px;
	@include mmd() {
		padding: 15px;
	}
}

.comment__message-item {
	padding: 18px 0;
	border-bottom: 1px solid #e2e2e5;
	&:first-child {
		padding-top: 0;
	}
	&:only-of-type {
		padding: 0;
		border: none;
	}
	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
}
.comment__message-user {
	.row {
		margin-left: -6px;
		margin-right: -6px;
	}
	.user-wrap__col {
		padding-left: 6px;
		padding-right: 6px;
	}
	.user-wrap__title {
		font-size: 11px;
		line-height: 16px;
		color: #666;
		h3 {
			font-size: 13px;
			line-height: 16px;
			color: #000;
		}
	}
}
.comment__message-head {
	margin-bottom: 15px;
}
.comment__message-content {
	font-size: 14px;
	line-height: 22px;
}
.comment__foot {
	.button-border {
		width: 100%;
		max-width: 125px;
	}
}
.comment__uploaded-files {
}