.customer-actions {
	font-size: 13px;
	line-height: 20px;
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
	h6 {
		font-size: 13px;
		line-height: 20px;
		color: #000;
		font-weight: 700;
	}
}
.customer-actions__list {
	li {
		a {
			font-size: 13px;
			line-height: 20px;
			color: #42b154;		
			transition: ease .2s;	
			&:hover {
				text-decoration: none;
				color: #187c27;
			}
		}
	}
}