.dialog-actions-folder {
	
}
.dialog-actions-folder__txt {
	margin-right: 20px;
	font-size: 13px;
	line-height: 30px;
}
.dialog-actions-folder__select-wrap {
	margin-right: 10px;
}
.dialog-actions-folder__button {
	max-width: 77px;
	flex: 0 0 77px;
}
.dialog-actions-folder__select {
	min-width: 210px;
	text-align: left;
}


