.dialog-actions {

}
.dialog-actions__btns-wrap {
	// margin-left: -10px;
	// margin-right: -10px;
}
.dialog-actions__btn {
	flex: 0 0 160px;
	max-width: 160px;
	width: 100%;
	&:hover {
		background-color: #e5e8ea;
	}
}

