.dialog-item {
	padding: 20px 0 25px;
	border-bottom: 1px solid #e2e2e5;
	&:last-child {
		border-bottom: none;
	}
	&:first-child {
		padding-top: 0;
	}
}
.dialog-item__row {
	margin-left: -10px;
	margin-right: -10px;
}
.dialog-item__user {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	margin-bottom: 10px;
	@media only screen and(min-width: 400px) {
		max-width: 76px;
		flex: 0 0 76px;
		margin-bottom: 0;
	}
	
	.user__img-wrap {
		width: 56px;
		height: 56px;
	}
}
.dialog-item__context {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	@media only screen and(min-width: 400px) {
		max-width: calc(100% - 76px);
		flex: 0 0 calc(100% - 76px);
	}
}

.dialog-item__title {
	line-height: 22px;
	h6 {
		margin-bottom: 2px;
		line-height: 22px;
	}
}
.dialog-item__actions {
	margin-left: -9px;
	margin-right: -9px;
}
.dialog-item__actions-item {
	font-size: 11px;
	line-height: 18px;
	color: #666;
	padding-left: 9px;
	padding-right: 9px;

	position: relative;
	&:before {
		content: '';

		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		width: 1px;
		height: 10px;
		background-color: #dbdbdb;
	}
	a {
		color: #666;
		line-height: 18px;
	}
	&:last-child {
		&:before {
			display: none;
		}
	}
}
.dialog-item_textarea {
	border-top: 1px solid #e2e2e5;
	textarea {
		min-height: 105px;
		padding: 15px 20px;
		width: 100%;
		resize: none;
		border-radius: 4px;
		border: 1px solid #e2e2e5;

		font-size: 14px;
		line-height: 22px;
		margin-bottom: 15px;
		transition: ease .2s;
		&:focus {
			border-color: #42b153;
		}
	}
	button[type="submit"] {
		max-width: 125px;
		flex: 0 0 125px;
	}
}