.dotted-text {
	overflow: hidden;
	&:after {
		content: '';
		display: block;
		white-space: nowrap;
		overflow: hidden;
		margin-top: 11px;
		border-bottom: 1px dotted #e2e1e2;
	}

}
.dotted-text__in {
}
.dotted-text__left {
	float: left;
	padding-right: 10px;
}
.dotted-text__right {
	float: right;
	padding-left: 10px;
}