.edu-diploms-wrap {

}
.edu-diploms__col {
	width: 100%;
	@media only screen and(min-width: 480px) {
		flex: 0 0 77%;
		max-width: 77%;
	}
	&.edu-diploms-dots {
		font-size: 0;
		margin-top: 10px;
		button {
			display: inline-block;
			max-width: 33.3%;
			padding: 0 10px;
		}
		@media only screen and(min-width: 480px) {
			flex: 0 0 23%;
			max-width: 23%;
			padding-left: 10px;
			margin-top: 0;
			button {
				display: block;
				max-width: none;
				padding: 0;
				max-width: none;
				width: 100%;
			}
		}
	}
}