.edu-confirm {
	padding-left: 14px;
	padding-right: 14px;
}
.edu-confirm__country {
	.icon-svg {
		// width: 18px;
		// height: 16px;
	}
}
.edu-confirm__diploms {
	a {
		color: #333;
		font-size: 11px;
	}
}
.edu-confirm__descr {
	font-size: 14px;
	line-height: 22px;
	strong {
		font-weight: 700;
	}
}
.edu-confirm__main-col {
	position: relative;
	width: 100%;
	@media only screen and(min-width: 1530px) {
		max-width: 36.9%;
		flex: 0 0 36.9%;
	}
	
}
.edu-confirm__main-col_large {
	@media only screen and(min-width: 1530px) {
		max-width: calc(100% - 36.9%);
		flex: 0 0 calc(100% - 36.9%);
	}
}
.edu-confirm__diploms-col {
	@include xl() {
		max-width: 85px;
		flex: 0 0 85px;
		padding-right: 10px !important;
		&:last-child {
			padding-right: 0 !important;
		}		
	}
}
.edu-confirm__diploms-col_large {
	@include xl() {
		max-width: 300px;
		flex: 0 0 300px;
	}
}
.edu-confirm__descr-title {
	padding-right: 100px;
	@include msm() {
		padding-right: 0;
	}
}

.edu-confirm__confirmed {
	font-weight: 700;
	line-height: 22px;
	color: #3da44e;
}


