.engineering {

}
.engineering__carousel {
	padding: 40px 0 20px;
}
.engineering__warn {
	color: #c7cddc;
	font-size: 11px;
	line-height: 15px;
	font-weight: 400;
	text-align: center;
	padding: 10px 0;
	position: relative;

	padding: 18px 0 17px;
	@include md() {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);

			border-top: 1px solid #37425a;
			width: 80%;

		}
	}
	@include mmd() {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.engineering__col-regular {
	width: 100%;
	order: 1;
	@include sm() {
		flex: 0 0 50%;
		max-width: 50%;
	}
	@include lg() {
		flex: 0 0 20%;
		max-width: 20%;
		order: inherit;
	}
}
.engineering__col-large {
	width: 100%;
	order: 2;
	@include lg() {
		flex: 0 0 60%;
		max-width: 60%;
		order: inherit;
	}
}
.engineering__service-row {
	padding-top: 25px;
}
.engineering__service-col {
	width: 100%;
	margin-bottom: 20px;
	@include sm() {
		max-width: 50%;
		flex: 0 0 50%;
	}
	@include md() {
		max-width: 30%;
		flex: 0 0 30%;
	}
	@include lg() {
		max-width: 33.3%;
		flex: 0 0 33.3%;
	}
	@include msm() {
		// max-width: 300px;
		// margin-left: auto;
		// margin-right: auto;
	}
	&:nth-last-child(2) {
		@include md() {
			.engineering-service {
				border-right-color: transparent;
			}
			
		}
	}
	.engineering-service {
		@include md() {
			border-right: 1px solid #313b50;
		}
	}
}

.engineering__advantages {
	padding-top: 25px;
	padding-left: 30px;
	padding-right: 30px;
	@include mxl() {
		padding-left: 15px;
		padding-right: 15px;
	}

}
.engineering__advantages-item {
	font-size: 14px;
	line-height: 19px;
	color: #fff;
	font-weight: 400;
}
.engineering__advantages-icon {
	// width: 32px;
	// height: 32px;
	// margin-right: 20px;
}

.engineering__title {
	h1, h2, h3, h4, h5, h6 {
		// text-transform: uppercase;
	}
}