.engineer-prev {
	display: block;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;

	height: 280px;
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: rgba(#000, .6);

		opacity: 0;
		visibility: hidden;
		transition: linear .2s;
	}
	&:hover {
		&:before {
			opacity: 1;
			visibility: visible;
		}
		.engineer-prev__txt {
			transform: translate(0, 0);
			opacity: 1;
			visibility: visible;
		}
	}
}

.engineer-prev__txt {
	color: #fff;
	font-size: 14px;
	line-height: 21px;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 20px;
	opacity: 0;
	visibility: hidden;
	transform: translate(0, 100%);
	transition: linear .2s;
}