.engineer {
	color: #000;
	span {
		display: block;
	}
	&:hover {
		color: #000;
		text-decoration: none;
	}
}
.engineer__img-outer {
	float: left;

	overflow: hidden;
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	img {
		width: auto !important;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}
	@include mmd() {
		width: 100px;
		height: 100px;
	}
	@include msm() {
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
}
.engineer__content {
	margin-left: 150px;
	@include mmd() {
		margin-left: 120px;
	}
	@include msm() {
		margin-left: 0;
		text-align: center;
	}
}
.engineer__name {
	font-size: 17px;
	font-weight: 700;
	line-height: 24px;
	color: #000;
}
.engineer__index {
	position: absolute;
	right: 0;
	top: 0;

	font-size: 11px;
}
.engineer__positive {
	color: #319400;
	display: inline !important;
}
.engineer__negative {
	color: #ca0d0d;
	display: inline !important;
}
.engineer__place {
	font-size: 12px;
	// line-height: 18px;
	color: #666666;
}
.engineer__specialty {
	span {
		font-size: 11px;
		line-height: 22px;
		color: #666;
	}
	ul {

	}
	li {
		font-size: 13px;
		line-height: 18px;
		color: #000;
	}
}
.engineer__pay {
	font-size: 14px;
	color: #000;
}