.engaging-front {
	margin-bottom: 30px;
}
.engaging-front__col {
	margin-bottom: 30px;
	@include mmd() {
		margin-bottom: 20px;
	}
}
.engaging-front__content {
	h1 {
		font-size: 30px;
		line-height: 40px;
		font-weight: 300;
		color: #000;
		margin: 0 0 28px;
	}
	p {
		line-height: 22px;
		margin-bottom: 20px;
	}
}
.engaging-front__blockquote {
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #000;

	padding: 18px 20px;
	border: 1px solid #8096a0;
	border-radius: 4px;
	margin-bottom: 35px;
}
.engaging-front__col {

}
.engaging-front__video {

}
.engaging-front__iframe {
	width: 100%;
	height: 100%;
	min-height: 420px;
}