.equipment-tabs {
	& > li {
		border-bottom: 1px solid #e4e4e7;
		& > a {
			position: relative;
			display: block;
			line-height: 1;
			padding: 14px 13px 10px;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -1px;
				height: 100%;
				width: 1px;

				background-color: #fff;

				opacity: 1;
				visibility: hidden;
				
			}
			&.active {
				font-weight: 700;
				background-color: #fff; 
				&:after {
					opacity: 1;
					visibility: visible;
					z-index: 4;
				}
				.caret {
					&:before {
						background: url('../images/caret_right_black.png') 50% 50% no-repeat;
					}
				}
				&:hover {
					.caret {
						transform: translate(0, -50%);
					}
				}
			}
			.caret {
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translate(0, -50%);
			}
			&:hover {
				text-decoration: none;
				.caret {
					transform: translate(5px, -50%);
					&:before {
						background: url('../images/caret_right_black.png') 50% 50% no-repeat;
					}
				}
			}
		}
	}
}