.equipment-preview {
	border: 1px solid #e4e4e7;
	border-radius: 4px;
	padding: 10px;
	display: block;
	&:hover {
		text-decoration: none;
		box-shadow: 0 0 20px 1px rgba(#000, .1);
	}
	@include mxl() {
		// padding-left: 20px;
		// padding-right: 20px;
	}
	
}
.equipment-preview__col {
	
}
.equipment-preview__col_large {
	padding-top: 10px;
	padding-bottom: 10px;
}
.equipment-preview__img {
	width: 100%;
	height: 100%;
	max-width: 180px;
	max-height: 140px;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	@include mxl() {
		margin-left: auto;
		margin-right: auto;
	}
}