.filter-check {
	position: relative;
	padding-left: 25px;
	input {
		position: absolute;
		left: -9999px;
		top: 0;
		opacity: 0;
		visibility: hidden;
		&:checked {
			& + label {
				font-weight: 700;
				&:before {
					background: url('../images/input-checked.png') 50% 50% no-repeat;
				}
			}
		}
	}
	label {
		line-height: 20px;
		cursor: pointer;
		line-height: 20px;
		margin-bottom: 0;
		&:before {
			content: '';

			position: absolute;
			top: 2px;
			left: 0;

			width: 16px;
			height: 16px;

			background: url('../images/input-uncheck.png') 50% 50% no-repeat;
		}
	}
}