.footer {
	padding: 31px 0 21px;
	.container {
		@media only screen and (max-width: 1529px) {
			padding-left: 20px;
			padding-right: 20px;			
		}
	}
}
.footer__logo {
	// margin-bottom: 10px;
	// padding-left: 11px;
	// padding-right: 11px;
	strong {
		font-size: 16px;
		line-height: 1;
	}
	span {
		font-size: 8px;
		// line-height: 20px;
	}
}
.footer__copy {
	color: #c7cddc;
	font-size: 12px;
	line-height: 15px;
	// padding-left: 11px;
	// padding-right: 11px;
	// margin-bottom: 10px;
}