.header {
	padding: 10px 0;
	position: relative;
	z-index: 2;
	.container {
		@media only screen and(max-width: 1529px) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
.header_background {
	// background-color: #191d28;
}
.header__head {
	font-size: 12px;
	color: #c7cddc;
}
.header__hello {

}
.header__logo {
	// margin-top: 0;
	@include xl() {
		flex: 0 0 20%;
		max-width: 20%;
	}
	@media only screen and(min-width: 1530px) {
		flex: 0 0 15%;
		max-width: 15%;
	}
	@include msm() {
		flex: 0 1 auto;
		max-width: none;
		width: auto;
	}
	@include mlg() {
		padding-top: 0 !important;
	}	
}
.header__logo-in {
	@include lg() {
		position: relative;
		
		top: 8px;
		
	}
}
.header__inner-center {
	@media only screen and(min-width: 1530px) {
		flex: 0 0 900px;
		max-width: 900px;
	}
	@include msm() {
		flex: 0 1 auto;
		max-width: none;
		width: auto;
	}
	@media only screen and(max-width: 390px) {
		flex: 0 0 250px;
		max-width: 250px;
		width: 100%;
	}
}
.header__menu {
	@include xl() {
		margin-left: 20%;
	}
	@media only screen and(min-width: 1530px) {
		margin-left: calc(15% + 15px);
	}
}
.header__menu-open {
	margin-right: 15px;
	@media only screen and(min-width: 390px) {
		margin-right: 0;
	}
}