.help-services {
}
.help-services__title {
	padding-bottom: 13px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}
.help-services__row {

}
.help-services__col {
	margin-bottom: 25px;
}
.help-services__link {
	line-height: 24px;
	display: block;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding: 48px 20px 52px;
	transition: ease .2s;
	&:hover {
		text-decoration: none;
		box-shadow: 0 0 20px 1px rgba(#000, .1);
		.help-services__img {
			-webkit-transform: scale(1.05, 1.05);
			-moz-transform: scale(1.05, 1.05);
			-ms-transform: scale(1.05, 1.05);
			-o-transform: scale(1.05, 1.05);
			transform: scale(1.05, 1.05);
			
			
		}
	}
	div {
		font-size: 20px;
		font-weight: 700;
		color: #000;
	}
}
.help-services__img {

	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
	max-width: 90px;
	max-height: 90px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 20px;
	transition: ease .2s;
	img {
		width: 100%;
		height: 100%;
		max-width: 90px;
		max-height: 90px;
		border-radius: 50%;
		object-fit: cover;
	}
}


