.help-search-form {
	input {
		font-size: 14px;
		line-height: 1;
		color: #333;

		border: 1px solid #e5e5e5;
		width: 100%;
		padding: 10px 10px 10px 40px;
		border-radius: 4px;

		background-image: url('../images/icon-zoom-grey.png');
		background-repeat: no-repeat;
		background-position: 10px 10px;
		background-size: 13px 14px;
		background-color: #f6f7f9;
		margin-bottom: 30px;
		transition: ease .2s;
		&:focus {
			background-color: #fff;
			border-color: #42b153;
		}
		@include mmd() {
			margin-bottom: 20px;
		}	
		@include iph() {
			font-size: 14px;
			line-height: 1;
			color: #666;
		}
	}
}
.help-search-form__tabs {
	.tab-content__wrap {
		padding-top: 25px !important;
	}
	.site-tabs {
		& > li {
			& > a {
				font-weight: 700;
				color: #000;
			}
		}
	}
}
