.input {
	width: 100%;
	background-color: #f4f5f7;
	border: 1px solid #e4e4e7;
	border-radius: 4px;

	font-size: 14px;
	line-height: 1;
	padding: 11px 10px;
	color: #000;
	@include iph() {
		color: #333;
		font-size: 14px;
		line-height: 1;
	}
}
.textarea {
	min-height: 105px;
	border: 1px solid #e2e2e5;
	border-radius: 4px;
	resize: none;
	padding: 15px 25px;

	font-size: 14px;
	line-height: 22px;
	width: 100%;
	margin-bottom: 10px;
	@include mmd() {
		padding: 10px 15px;
	}
	&:focus {
		border-color: #42b153;
		color: #333;
	}
}