.input-file-wrap {
	position: relative;
	input {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: -9999px;
	}
	label {
		border-style: solid;
		border-width: 1px;
		border-color: rgb(204, 204, 204);
		border-radius: 4px;
		background-color: rgba(244, 245, 247, 0);
		padding: 12px 10px 10px;

		line-height: 1;
		font-size: 14px;
		display: block;
		margin-bottom: 0;
		color: #333;
		text-align: center;
		width: 175px;

		cursor: pointer;
		transition: ease .2s;
		&:hover {
			background-color: #e5e8ea;
		}
	}
}