.lang {
	perspective: 150px;
}
.lang__btn {
	img {
		width: 18px;
		height: 11px;
	}
}
.lang__btn-txt {
	color: $light;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
}
.lang__btn-caret {

}
.lang__list {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 2;
	margin-top: 5px;

	background-color: #fff;
	box-shadow: 0 0 10px 1px rgba(#000, .5);
	padding: 5px 10px;
	border-radius: 4px;

	opacity: 0;
	visibility: hidden;
	
	transition: ease .2s;
	transform: rotateX(-90deg);
	transform-origin: 50% 0;
	// transition: transform ease .15s;
	img {
		width: 18px;
		height: 11px;
	}
	&[style="display: block;"] {
	}
	a {
		display: block;
		color: #333;
		font-size: 14px;
	}
	&.visible {
		opacity: 1;
		visibility: visible;
		transform: rotateX(0);
		

	}
}