.list-border-right {
	li {
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
		&:after {
			content: '';

			position: absolute;
			right: 0;
			top: 50%;
			-webkit-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			-ms-transform: translate(0, -50%);
			-o-transform: translate(0, -50%);
			transform: translate(0, -50%);
			width: 1px;
			height: 11px;

			background-color: #cccccc;
		}
		&:last-child {
			&:after {
				display: none;
				
			}
		}
	}
}