.logo {
	display: block;
	img {
		width: 38px;
		height: 38px;
		margin-right: 15px;
		// animation: wheel 15s linear infinite;
		@include md() {
		}
	}
	a {
		display: block;
		color: #fff;
		text-transform: uppercase;

		font-size: 11px;
		font-weight: 700;
		&:hover {
			text-decoration: none;
			div {
				// text-shadow: 1px 3px 5px rgba(#fff, .5);
			}
		}
		@include mmd() {
			display: none;
		}
	}
	span {
		letter-spacing: 3px;
	}
	strong {
		display: block;
		font-size: 22px;
		line-height: 32px;
		font-weight: 800;
		letter-spacing: 1px;
		color: #fff;
	}
	div {
		transition: ease .2s;
	}
}