.manufactures {

}
.manufactures__all {
	font-size: 12px;
	color: #333;
	line-height: 1;
	&:hover {
		color: #333;
	}
	.caret {
		width: 6px;
		height: 6px;
	}
}

.manufactures__all-wrap {
	text-align: center;
	@include lg() {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	
		background-color: #f6f7f9;
		
	}
}