.manufactures-carousel {
	padding-top: 35px;
}
.manufactures-carousel__link {
	text-align: center;
}
.manufactures-carousel__img {
	display: inline-block;
	width: 150px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.manufactures-carousel {
	.owl-item {
		.manufactures-carousel__img {
			
		}
	}
}