.mobility {

}
.mobility__img {
	position: relative;
	img {
		@include msm() {
			height: 300px;
			object-fit: cover;
		}
	}
}
.mobility__descr {
	position: absolute;

	bottom: 0;
	left: 0;
	right: 0;

	background-color: rgba(#000, .4);

	font-size: 14px;
	line-height: 23px;
	color: #fff;
	padding: 10px 13px 10px;
	strong {
		font-weight: 700;
		line-height: 1;
	}
	.icon-svg {
		width: 13px;
		height: 16px;
		margin-right: 5px;
	}
}

.mobility__worked {
	font-size: 12px;
	line-height: 21px;
	color: #333;
	.icon-svg {
		width: 15px;
		height: 19px;
		margin-right: 5px;
	}
}

.mobility__go-stat {
	padding-left: 40px;
	position: relative;
	&:before {
		content: '';
		
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: 15px;
		width: 14px;
		height: 14px;
		border-radius: 50%;

		background-color: #90ff95;
	}
}
.mobility__go-stat_unready {
	&:before {
		background-color: #fe9696;
	}
}

.mobility__place {
	line-height: 23px;
	color: #333;
	strong {
		font-weight: 700;
		color: #000;
	}
}