.modal {
	padding: 64px 30px 10px;
	max-width: 1230px;
	width: 100%;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		height: 38px;
		background-color: #b13b3b;
	}
	.fancybox-button {
		position: absolute;
		
		right: 10px;
		top: 8px;
		padding: 0;
		width: 22px;
		height: 22px;
		svg {
			color: #fff;
		}
	}
	.row {
		margin-left: -10px;
		margin-right: -10px;
	}
	.pay-systems__col {
		padding-left: 10px;
		padding-right: 10px;
	}
	.pay-systems__item {
		padding: 20px;
	}
	.visa {
	    flex: 0 0 65px;
	    max-width: 65px;
	    height: 21px;
	}
	.masterCard {
		flex: 0 0 51px;
	    max-width: 51px;
	    height: 38px;
	}
	.american-express {
		flex: 0 0 59px;
	    max-width: 59px;
	    height: 59px;
	}
	.paypal {
		max-width: 117px;
		flex: 0 0 117px;
    	height: 28px;
	}
	.jcb {
		max-width: 64px;
		flex: 0 0 64px;
		height: 46px;
	}
	.western-union {
		max-width: 102px;
		flex: 0 0 102px;
		height: 41px;
	}
	.bitcoin {
		max-width: 111px;
		flex: 0 0 111px;
		height: 23px;
	}
}