.nav-intro {
	& > ul {
		background-color: #fff;
		padding: 4px 20px 9px;
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
		@include mmd() {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
		}
		& > li {
			@include mmd() {
				flex-grow: 1;
			}
			&:last-child {
				& > a {
					border-bottom-color: transparent;
					&:hover {
						border-color: transparent;
					}
				}
			}
			& > a {
				display: block;
				color: #333;
				font-size: 14px;
				position: relative;
				padding: 13px 0 13px;
				border-bottom: 1px solid #e3e3e3;
				padding-right: 15px;
				@include msm() {
					font-size: 16px;
				}
				.caret {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translate(0, -50%);
					&:before {
						background-image: url('../images/nav-sidebar-caret-right.png');
						transition: ease .2s;
					}
					&:after {
						content: '';
						display: block;
						
						width: 5px;
						height: 8px;
						background-image: url('../images/nav-sidebar-caret-right-actve.png');
						transition: ease .2s;
						opacity: 0;
						visibility: hidden;
						
					}
				}
				&:hover {
					text-decoration: none;
					color: #42b154;
					.caret {
						// transform: translate(3px, -50%);
						&:before {
							background-image: url('../images/caret_right_green.png');
						}
						
					}
				}
				@include mmd() {
					padding-left: 10px;
					text-align: center;
					.caret {
						display: none;
					}
					&.active {
					}
				}
				&.active {
					background-color: transparent !important;
					color: #333 !important;
					font-weight: 700;
					.caret {
						// transform: translate(3px, -50%);
						&:before {
							// background-image: url('../images/caret_right_green.png');
							opacity: 0;
							visibility: hidden;
						}
						&:after {
							opacity: 1;
							visibility: visible;
						}
						
					}
				}
			}
		}
	}
	.mCustomScrollBox {
		width: 100%;
	}
	.mCSB_container {
		@media only screen and(min-width: 1530px) {
			margin-right: 10px;
		}
	}
	.loader__img {
		top: 50%;
		left: 50%;
		margin-top: -50px;
	}
	.tab-content__wrap {
		@include md() {
			height: 400px;
			overflow: hidden;
		}
	}
	.nav-intro__description {
		// height: 100%;
	}
}


.nav-intro__description {
	@include md() {
		height: 400px;
	}
}
.nav-intro__description-inner {
	@media only screen and(max-width: 1529px) {
		padding: 30px 0;
	}
	@include mlg() {
	}
	@media only screen and(min-width: 1530px) {
		padding: 20px 0;
	}
}
.nav-intro__col {
	@include mlg() {
		margin-bottom: 20px;
	}
}
.nav-intro__col_large {
	@media only screen and(max-width: 1529px) {
		flex: 0 0 60%;
		max-width: 60%;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	@include mlg() {
		flex: 0 1 auto;
		max-width: none;
		width: auto;
	}
	@media only screen and(min-width: 1530px) {
		flex: 0 0 75%;
		max-width: 75%;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
.nav-intro__col_small {
	@media only screen and(max-width: 1529px) {
		flex: 0 0 40%;
		max-width: 40%;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	@include mlg() {
		flex: 0 1 auto;
		max-width: none;
		width: auto;
	}
	@media only screen and(min-width: 1530px) {
		flex: 0 0 25%;
		max-width: 25%;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.nav-intro__elem {
	position: relative;
	@media only screen and(max-width: 1529px) {
		margin-bottom: 20px;
	}
	@media only screen and(min-width: 1530px) {
		margin-bottom: 60px;

	}
	&:last-child {
		margin-bottom: 0;
	}
	@media only screen and(max-width: 1529px) {
		@include clearfix();
	}
	&:nth-child(even) {
		@media only screen and(min-width: 1530px) {
			.nav-intro__content {
				max-width: 260px;
				margin-left: auto;
				margin-right: 235px;
				text-align: right;
				padding-top: 0;
				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					padding-left: 0;
					padding-right: 20px;
					&:before {
						left: auto;
						right: 0;
					}
				}
			}
			.nav-intro__elem-img {
				top: auto;
				left: auto;
				bottom: -20px;
				right: 0;
			}
		}
	}
}

.nav-intro__elem-img-outer {
	@media only screen and(max-width: 1529px) {
		text-align: center;
		float: left;
		background-color: #fff;
		border-radius: 50%;
		width: 150px;
		height: 150px;
		padding: 30px;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media only screen and(max-width: 480px) {
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
}
.nav-intro__elem-img {
	@media only screen and(min-width: 1530px) {
		position: absolute;
		top: 13px;
		left: 0;
	}
	@media only screen and(max-width: 1529px) {
		// max-width: 150px;
		width: 100%;
		flex: 0 0 110px;
		max-width: 110px;
		border-radius: 30px;
		margin-top: -10px;
		// border-radius: 30px;
	}
}
.nav-intro__content {
	margin-left: 250px;
	max-width: 325px;
	color: #fff;
	position: relative;
	padding-top: 20px;
	@media only screen and(min-width: 1530px) {
		min-height: 148px;
		// overflow: hidden;
		
	}
	@media only screen and(max-width: 1529px) {
		margin-left: 170px;
		padding-top: 0;
	}
	@media only screen and(max-width: 480px) {
		margin-left: 0;
		text-align: center;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 22px;
		line-height: 40px;
		position: relative;
		padding-left: 15px;

		font-weight: 700;
		@media only screen and(max-width: 480px) {
			display: inline-block;
		}
		&:before {
			content: '';

			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);

			width: 4px;
			height: 16px;
			background-color: #772626;
		}
	}
	p {
		font-size: 15px;
		line-height: 21px;
		font-weight: 300;
	}
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.nav-intro__task {
	padding: 20px 20px 70px;
	border-radius: 4px;
	height: 90%;

	color: #fff;
	overflow: hidden;
	position: relative;
	height: 100%;
	@media only screen and(max-width: 1529px) {
		padding: 15px 15px 70px;
	}
	p {
		font-size: 16px;
		line-height: 23px;
		font-weight: 300;
		padding-right: 10px;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
		@media only screen and(max-width: 1529px) {
			padding-right: 0;
		}
	}
	strong {
		font-weight: 700;
	}
	a {
		color: #fff;
	}
}
.nav-intro__task-in {
	height: 100%;
	overflow: hidden;
}
.nav-intro__task-button {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	.caret {
		// width: 8px;
		// height: 8px;
		&:before {
			transition: linear .1s;
		}
	}
}

.nav-intro__list {
	width: 100%;
	@media only screen and(min-width: 768px) {
		max-width: 300px;
		flex: 0 0 300px;
	}
	// @include lg() {
	// 	max-width: 25%;
	// 	flex: 0 0 25%;
	// }
	// @media only screen and(min-width: 1530px) {
	// 	max-width: 20%;
	// 	flex: 0 0 20%;
	// }
}
.nav-intro__tab-content {
	width: 100%;
	height: auto;
	@media only screen and(min-width: 768px) {
		max-width: 100%;
		flex: 1 1 0;
	}
	// @include lg() {
	// 	max-width: 75%;
	// 	flex: 0 0 75%;
	// }
	// @media only screen and(min-width: 1530px) {
	// 	max-width: 80%;
	// 	flex: 0 0 80%;

	// }
}