.notif {
	display: inline-block;
	background-color: #b13b3b;
	color: #fff;
	font-size: 11px;
	line-height: 1;
	padding: 2px 5px 2px 4px;
	border-radius: 4px;
	text-align: center;
	
	
}

.notif-white {
	display: inline-block;
	vertical-align: middle;
	min-width: 18px;
	padding: 3px 5px 2px;

	font-size: 11px;
	line-height: 11px;
	background-color: #f6f7f9;
	border: 1px solid #e2e2e5;
	border-radius: 4px;
	text-align: center;
	span {

	}
}