.nstSlider {
	background-color: #e8eaec;
	border: 1px solid #dcdce0;
	height: 4px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	.bar {
		background-color: #42b153;
		top: 0;
		height: 4px;
		z-index: 5;
	}
	.leftGrip {
		z-index: 5;
		background-color: #fff;
		border: 1px solid #42b153;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(66, 177, 83);
		border-radius: 50%;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08);

		top: 50%;
		transform: translate(0, -50%);

		width: 16px;
		height: 16px;
	}
	.leftLabel {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 100%;
		margin-bottom: 7px;

		font-size: 11px;
		line-height: 22px;
		padding-left: 6px;
		padding-right: 6px;
		background-color: #191d28;
		color: #fff;
		border-radius: 4px;
		&:after {
			content: '';

			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			border-top: 5px solid #191d28;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
		}
	}
}
.nstSlider__step {
	position: relative;
	// top: 4px;
	top: 4px;
	padding-top: 12px;

	font-size: 9px;
	color: #666;
	text-align: center;
	&:before {
		content: '';
		position: absolute;
		top: -1px	;
		left: 50%;
		transform: translate(-50%, 0);

		width: 1px;
		height: 9px;

		background-color: #cdcdd3;
		
	}
}
