.other-actions {
	ul {
		margin-left: -15px;
		margin-right: -15px;
	}
	li {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 10px;
	}
	a {
		display: flex;
		align-items: center;
		max-width: 95px;
		color: #fff;
		font-size: 14px;
		line-height: 20px;
		@include msm() {
			font-size: 12px;
			line-height: 16px;
		}
		.icon {
			display: block;
		}
		&:hover {
			text-decoration: none;
			.other-actions__icon {
				transform: translate(0, -3px);
			}
		}
		div {
			flex-grow: 1;
			flex-shrink: 1;
		}
	}
}
.other-actions__icon {
	margin-right: 10px;
	flex: 0 0 16px;
	max-width: 16px;
	height: 16px;
	position: relative;
	
}
.other-actions__notif {
	position: absolute;
	
	bottom: 100%;
	left: 100%;
	margin-bottom: -8px;
	margin-left: -7px;
}