.owl-carousel {
	.owl-nav {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translate(0, -50%);
		margin-top: 0 !important;
		// height: 56px;
		// z-index: -1;
		[class*='owl-'] {
			width: 30px;
			height: 56px;

			background-color: rgba(#000, .2) !important;
			// background-color: #333 !important;
			color: #fff;
			font-size: 20px;

			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			margin: 0;
			border-radius: 4px;
		}
		.owl-prev {
			left: 0;
			border-radius: 0 4px 4px 0;
		}
		.owl-next {
			right: 0;
			border-radius: 4px 0 0 4px;
		}
		.caret {
			width: 12px;
			height: 16px;
			&:before {
				// width: 8px;
				// height: 8px;
			}
		}
	}
	.owl-dots {
		line-height: 1;
		font-size: 0;
		margin-top: 20px !important;
		.owl-dot {
			span {
				width: 7px;
				height: 7px;
				margin: 0 6px 0 5px;
				background-color: #d1d2d4;
			}
			&:hover {
				span {
					background-color: #b13b3b;
				}
			}
			&.active {
				span {
					background-color: #b13b3b;
				}
			}
		}
	}
}

.equip-carousel {
	background-color: #fefefe;
	border-top: 1px solid #efeff0;
	border-left: 1px solid #efeff0;
	border-right: 1px solid #efeff0;
	.owl-item {
	}
	.equip-box {
		border: none;
		
		border-right: 1px solid #efeff0;
		border-bottom: 1px solid #efeff0;
		&:last-child {
			padding-top: 0;
			padding-bottom: 15px;
		}
	}
}
.blueprintsList-carousel {
	.owl-nav {
		margin-top: -30px !important;
		[class*='owl-'] {
			background-color: #333 !important;
		}
	}
}
.exhibitions-carousel {
	.owl-dots {
		margin-top: 0 !important;
	}
}


.edu-diploms-carousel {
	.preview-link {
		display: block;
		&:before {
			background: url('../images/icon-zoom-background.png') 50% 50% no-repeat;
			width: 32px;
			height: 32px;
			top: 20px;
			left: 20px;
		}
	}
}

.edu-diploms-dots {
	button {
		background-color: transparent;
		padding: 0;
		border: none;
		margin-bottom: 11px;
		opacity: .6;
		&.active {
			opacity: 1;
		}
	}
	img {
		margin-bottom: 8px;
	}
	span {
		display: block;
		text-align: left;

		font-size: 11px;
		line-height: 13px;
	}
}