.page {
	padding: 20px 0 70px;
}
.page__row {

}
.page__col {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	@media only screen and(min-width: 768px) {
		max-width: 30%;
		flex: 0 0 30%;
	}
	@media only screen and(min-width: 992px) {
		max-width: 21.56%;
		flex: 0 0 21.56%;
	}
}
.page__col_main {
	@media only screen and(min-width: 768px) {
		max-width: 70%;
		flex: 0 0 70%;
	}
	@media only screen and(min-width: 992px) {
		max-width: 78.44%;
		flex: 0 0 78.44%;
	}
}



.page__col_catalog_mob {
	@include mmd() {
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		transform: translate(-100%, 0);

		background-color: rgba(#000, .5);
		z-index: 999;

		// opacity: 0;
		// visibility: hidden;
		transition: ease .5s;
		.catalog-sidebar {
			position: absolute;
			top: 0;
			left: 0;
			padding: 30px 15px;
			max-width: 320px;
			background-color: #f6f7f9;
			overflow: auto;
			height: 100%;
			transform: translate(-100%, 0);
			transition: .3s ease .3s;
		}
		&.active {
			transform: translate(0, 0);
			.catalog-sidebar {
				transform: translate(0, 0);
			}
		}
		
	}
}

.catalog-call {
	@include md() {
		display: none;
	}
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 9999;

	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #42b154;
	padding: 0;
	.hamburger-box {
		width: 30px;
	}
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		background-color: #fff;
		width: 30px;
	}
}