.pay-systems {

}
.pay-systems__col {
	margin-bottom: 20px;
	@include mmd() {
		margin-bottom: 10px;
	}	
}
.pay-systems__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 25px 20px;
	border: 1px solid #e2e2e5;
	border-radius: 4px;
	transition: ease .2s;
	img {
		width: 100%;
	}
	.visa {
		flex: 0 0 80px;
		max-width: 80px;
		height: 26px;
	}	
	.masterCard {
		flex: 0 0 61px;
		max-width: 61px;
		height: 48px;
	}
	.american-express {
		flex: 0 0 72px;
		max-width: 72px;
		height: 72px;
	}
	.paypal {
		max-width: 144px;
		flex: 0 0 144px;
		height: 35px;
	}
	.jcb {
		max-width: 78px;
		flex: 0 0 78px;
		height: 59px;
	}
	.western-union {
		max-width: 125px;
		flex: 0 0 125px;
		height: 51px;
	}
	.bitcoin {
		max-width: 136px;
		flex: 0 0 136px;
		height: 30px;
	}
	&:hover {
		box-shadow: 0 0 20px 1px rgba(#000, .1);
	}
}

.pay-systems__img {
	height: 95px;
	width: 144px;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}