.payment {

}
.payment__data {
	margin-bottom: 45px;
	@include mmd() {
		margin-bottom: 20px;
	}
	.pay-systems {
		margin-bottom: 20px;
		@include mmd() {
			margin-bottom: 10px;
		}	
	}
}
.payment__title {
	margin-bottom: 15px;
	span {
		font-size: 14px;
		color: #333;
		font-weight: 400;
		margin-left: 5px;
	}
	h6 {
		line-height: 34px;
	}
}
.payment__data-list {
	margin-bottom: 15px;
}
.payment__data-item {
	font-size: 14px;
	line-height: 24px;
	padding: 8px 0 7px;
	border-bottom: 1px solid #e4e4e7;
	&:last-child {
		border-bottom: none;
		
	}
	div {

	}
	span, a {
		display: inline-block;
		vertical-align: middle;
	}
	a {
		color: #42b153;
	}
}
.payment__pass-auth {
	// margin-bottom: 40px;
	// display: block;
	
}
.payment__check {
	input {
		&:checked {
			& + label {
				font-weight: 400;
			}
		}
	}
}
.payment__balance {
	margin-bottom: 40px;
	@include mmd() {
		margin-bottom: 20px;
	}
	div {
		line-height: 34px;
	}
}
.payment__balance-row {
	margin-left: -10px;
	margin-right: -10px;
	.padding {
		padding-left: 10px;
		padding-right: 10px;
	}
	.input {
		width: 385px;
	}
	.button-border {
		width: 130px;
	}
}
.payment__data-systems {
	.payment__title {
		margin-bottom: 7px;
	}
}

.payment__stat {
	table {
		width: 1440px;
		border: 1px solid #e2e2e5;
		border-radius: 4px;
		thead {

		}
		tbody {

		}
		th {
			background-color: #f6f7f9;

			color: #000;
			font-weight: 700;
		}
		th, td {
			padding: 9px 20px;
			width: 150px;
			border: 1px solid #e2e2e5;
			font-size: 14px;
			line-height: 20px;
			&:nth-child(2) {
				width: 162px;
			}
			&:nth-child(5) {
				width: 525px;
			}
		}
	}
}