.questions {
	.tab-content__sidebar {
		@media only screen and (min-width: 1530px) {
			max-width: 330px;
			flex: 0 0 330px;
		}
	}
	.nav-sidebar {
		border: 1px solid #e5e5e5;
		border-radius: 4px;
		overflow: hidden;
		& > ul {
			& > li {
				& > a {
					transition: ease .2s;
					padding-left: 20px;
					border-radius: 0;
					.caret {
						right: 15px;
					}
					&.active {
						background-color: #42b153 !important;
						color: #fff !important;
						border-radius: 0;
						.caret {
							transform: translate(0, -50%);
							&:after {
								background-image: url('../images/nav-sidebar-caret-right-white.png');
							}
						}
						&:hover {
							.caret {
								&:after {
									background-image: url('../images/nav-sidebar-caret-right-white.png');									
								}

							}
						}
					}
				}
			}
		}
	}
	.tab-content__main {
		padding-top: 0;
		@media only screen and (min-width: 1530px) {
			max-width: calc(100% - 330px);
			flex: 0 0 calc(100% - 330px);
		}
	}
}
.questions__item {
	ul {
		li {
			position: relative;
			padding-left: 20px;

			font-size: 16px;
			line-height: 26px;
			padding: 13px 20px;
			border-bottom: 1px solid #e5e5e5;
			&:last-child {
				border-bottom: none;
				
			}
			&:before {
				content: '';
				position: absolute;
				
				top: 25px;
				left: 0;

				background-color: #42b153;
				width: 8px;
				height: 1px;
			}
			a {
				font-size: 16px;
				line-height: 26px;
				&:hover {
					color: #2c9b3d;
					text-decoration: none;
				}
			}
		}
	}

}
.questions__item-title {
	margin-bottom: 13px;
}

.questions {
	.nav-sidebar {
		padding-top: 0;
		margin-top: 20px;
	}
}