.radio {
	position: relative;
	
	input {
		position: absolute;
		
		top: 0;
		left: -9999px;

		opacity: 0;
		visibility: hidden;
		&:checked {
			& + label {
				&:before {
					background-image: url('../images/radio-checked.png');
					
				}
			}
		}
	}
	label {
		padding-left: 25px;
		position: relative;
		cursor: pointer;
		
		margin-bottom: 0;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			background-image: url('../images/radio-passive.png');
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: contain;

			width: 16px;
			height: 16px;
			border-radius: 50%;
			
		}
	}
}