.registration-form {
	padding: 25px 30px 10px;
	input {
		width: 100%;
		border: none;
		border-bottom: 1px solid #747e96;

		background-color: transparent;
		font-size: 14px;
		line-height: 1;
		color: #fff;
		padding: 10px 0;
		@include iph() {
			font-size: 14px;
			line-height: 1;
			color: #c3cde5;
		}
	}
}
.registration-form__col-title {
	width: 100%;
	@include md() {
		flex: 0 0 19%;
		max-width: 19%;
	}
}
.registration-form__col-main {
	width: 100%;
	@include md() {
		flex: 0 0 calc(100% - 19%);
		max-width: calc(100% - 19%);		
	}
	.button-border {
		width: 100%;
	}
}
.registration-form__title {
	color: #fff;
	h3 {
		font-size: 16px;
		line-height: 26px;
		font-weight: 700;
		margin-bottom: 0;
	}
	p {
		font-size: 12px;
		line-height: 26px;
		color: #c3cde5;
		margin-bottom: 0;
	}
}