.search-items {

}
.search-items__title {
	// padding-left: 20%;
	h1, h2, h3, h4, h5, h6 {
		text-transform: uppercase;
	}
}
.search-items__forms {
	margin-top: 10px;
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@include lg() {
		margin-top: 0;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	
		background-color: #f6f7f9;
		padding-left: 20px;
		
	}
}
.search-items__input {
	width: 100%;
	min-width: 250px;
	border: none;
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);

	text-align: left;
	font-size: 14px;
	line-height: 1;
	color: rgb(102, 102, 102);
	padding: 9px 30px 9px 10px;
	@include iph() {
		text-align: center;
		font-size: 14px;
		line-height: 1;
		color: rgb(102, 102, 102);
	}
}
.search-items__button {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	line-height: 1;
	font-size: 0;
	.icon-svg {
		width: 12px;
		height: 13px;
	}
}