.search-form {
	border-radius: 4px;
	// overflow: hidden;
	&:hover {
		.search-form__input {
			// box-shadow: 0 0 20px 1px rgba(#fff, .3);
		}
	}
}
.search-form__input {
	width: 100%;
	border: none;
	padding: 0;
	padding: 11px 65px 11px 90px;

	font-family: $font;
	font-size: 16px;
	line-height: 1;
	border-radius: 4px;
	transition: ease .2s;
	@include iph() {
		font-family: $font;
		font-size: 16px;
		line-height: 1;
	}
	&:focus {
		// box-shadow: 0 0 20px 1px rgba(#fff, .3);
	}
	@include msm() {
		padding: 7px 35px 7px 90px;
	}
}
.search-form__select {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	max-width: 80px;
	border-radius: 4px 0 0 4px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding-left: 5px;
	padding-right: 23px;
	padding-top: 12px;
	padding-bottom: 12px;
	.select__scroll  {
		width: 180px;
	}
}
.search-form__button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	max-width: 55px;
	border-radius: 0 4px 4px 0;
	@include msm() {
		max-width: 30px;
	}
	.icon-svg {
		margin-right: 0;
	}
}