.section-list {
	display: flex;
	flex-wrap: wrap;
	li {
		padding-left: 5px;
		padding-right: 5px;
		position: relative;
		&:after {
			content: '/';
			position: absolute;
			top: 50%;
			right: -2px;
			transform: translate(0, -50%);
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}