.section-title {
	// display: flex;
	// justify-content: center;
	overflow: hidden;
	text-align: center;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: inline-block;
		font-size: 22px;
		line-height: 30px;
		font-weight: 700;
		color: #000;
		position: relative;
		margin-bottom: 0;
		text-transform: uppercase;
		
		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);

			height: 5px;
			background-color: #ebecee;
		}
		&:before {
			right: 100%;
			left: -9999999px;
			margin-right: 10px;
		}
		&:after {
			margin-left: 10px;
			left: 100%;
			right: -9999999px;
		}
	}
}
