.select {
	width: 100%;
	box-shadow: none;
	border: none;
	height: auto;
	line-height: 1;
	float: none;
	// display: flex;
	// align-items: center;
	// justify-content: center;

	padding-left: 10px;
	padding-right: 23px;
	padding-top: 12px;
	padding-bottom: 12px;

	font-size: 14px;
	color: #333;

	background-color: #e9e9e9;
	border-radius: 4px;
	&:after {
		width: 8px;
		height: 5px;
		background-size: contain;
		background: url('../images/caret.png') 50% 50% no-repeat;
		border: none;
		transform: rotate(0) translate(0, -50%);
		margin: 0;
	}
	.list {
		border-radius: 0;
		width: 100%;
		height: auto;
		max-height: 300px;
		overflow: auto;
	}
	&.open {
		&:after {
			transform: translate(0, -50%);
		}
	}
	.current {
		img {
			margin-right: 20px;
		}
	}
	img {
		width: 17px;
		height: 16px;
		vertical-align: middle;
		margin-right: 10px;
	}
	img[src="undefined"] {
		display: none;
		
	}
	.mCSB_container {
		margin-right: 10px;
	}
	.mCSB_scrollTools {
		width: 3px;
	}
	.mCSB_draggerContainer {
		background-color: #f0f0f0;
	}
	.mCSB_draggerRail {
		background-color: #f0f0f0;
	}
	.mCSB_dragger {
		background-color: #ccc !important;
	}
	.mCSB_dragger_bar {
		background-color: #ccc !important;
	}
	&:active, &.open, &:focus {
		border-color: #42b154;
	}
}

.select_white_large {
	background-color: #fff;
	border: 1px solid #e4e4e7;
	padding: 7px 25px 7px 11px;
	border-radius: 4px;
	text-align: left;

	display: block;
	
	.current {
		font-size: 14px;
		line-height: 22px;
	}
}
.select_title_bold {
	.current {
		font-weight: 700;
	}
}
.select_grey {
	background-color: #f4f5f7;
	border: 1px solid #e4e4e7;
	font-size: 13px;
	line-height: 1;
	padding-bottom: 11px;
	&:hover {
		background-color: #e5e8ea;
	}
}

