.table-wrap {
	overflow: auto;
}
.site-table {
	width: 1170px;
	& > thead {
		& > tr {
			& > th {
				font-weight: 700;
				line-height: 20px;
				padding: 9px 10px;
				background-color: #f3f5f7;
				text-align: center;
				border-right: 1px solid #e4e3e8;


				&:first-child {
					width: 320px;
					border-radius: 4px 0 0 4px;
				}
				&:nth-child(2) {
					width: 550px;
				}
				&:nth-child(3) {
					width: 150px;
				}
				&:last-child {
					width: 150px;
					border-right-color: transparent;
					border-radius: 0 4px 4px 0;
				}
			}			
		}
	}
	& > tbody {
		& > tr {
			& > td {

			}			
		}
	}
}
.site-table__title {
	padding: 7px 10px;
	h3 {
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		color: #000;
		text-transform: uppercase;
		.icon {
			margin-right: 7px;
		}
	}
}

.site-table__table {
	width: 100%;
	border-collapse:separate;
	border: 1px solid #000;
	border: 1px solid #e2e2e5;
	border-radius: 4px;
	& > tbody {
		& > tr {
			& > td {
				vertical-align: top;
				
				font-size: 14px;
				line-height: 22px;
				padding: 15px 19px 12px;
				border-right: 1px solid #e2e2e5;
				border-bottom: 1px solid #e2e2e5;
				& > * {
					&:last-child {
						margin-bottom: 0;
					}
				}
				&:first-child {
					width: 320px;
				}
				&:nth-child(2) {
					width: 550px;
				}
				&:nth-child(3) {
					width: 150px;
					text-align: center;
				}
				&:last-child {
					width: 150px;
					text-align: center;
					border-right-color: transparent;
					
				}
			}	
			&:last-child {
				& > td {
					border-bottom: none;
				}
			}		
		}
	}
	h4 {
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		color: #000;
	}
	strong {
		font-weight: 700;
	}
}