.skill-item {
	.tab-content__wrap {
		@include msm() {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.skills-item__personal-com {
	border: 1px solid #42b154;
	padding: 15px 19px;
	border-radius: 4px;
	display: inline-block;
	max-width: 569px;

	font-size: 14px;
	line-height: 22px;
	color: #333;

}
.skill-item__simple-list {
	
	& > li {
		padding-left: 20px;
		position: relative;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 5px;
		&:before {
			content: '';

			position: absolute;
			top: 9px;
			left: 0;

			height: 1px;
			width: 10px;

			background-color: #000;
		}
	}
}

.skill-item__embedded-list {
	& > li {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 26px;
		.icon-svg-outer {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			max-width: 38px;
			flex: 0 0 38px;
			height: 38px;
			border: 1px solid #42b154;
		}
		.icon-outer {
			@media only screen and (max-width: 399px) {
				display: none;
			}
			// display: none;
			// width: 100%;
			// flex: 0 0 20px;
			// max-width: 20px;
			// height: 20px;
		}
		.caret {
			width: 10px;
			height: 10px;
			margin-top: -3px;
		}
		strong {
			font-weight: 700;
		}
		& > ul {
			margin-left: 50px;
			@include msm() {
				margin-left: 0;
				padding-left: 20px;
			}
			@media only screen and(max-width: 360px) {
				padding-left: 0;
			}
		}
	}
}


.skill-item__dotted {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0;
	}
}


.skill-item__exp {
	position: relative;
	padding-left: 40px;
}
.skill-item__exp-in {
	padding-bottom: 10px;
	padding-top: 20px;
	border-bottom: 1px solid #e2e1e6;
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: -8px;
		left: -48px;

		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid #dad9df;
		background-color: #fff;
		z-index: 2;

	}
	&:after {
		content: '';

		position: absolute;
		top: -3px;
		left: -43px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #42b154;

		display: none;
		z-index: 2;
		
	}
	&:first-child {
		padding-top: 0;
		&:before {
			top: 3px;
		}
		&:after {
			top: 8px;
		}
	}
	&:last-child {
		border-bottom: none;
		
	}
	& > * {
		&:first-child {
			&:before {
				content: '';

				position: absolute;
				
				left: -40px;
				top: 3px;

				width: 1px;
				height: 100%;

				background-color: #e2e1e6;
				z-index: 1;
			}
		}
	}
	&.active {
		&:before {
			box-shadow: 0 0 0 8px rgba(#e5fbde, 1);
			// background-color: #42b154;
		}
		&:after {
			display: block;
		}
		& > * {
			&:first-child {
				&:before {
					background-color: #42b154;
				}
			}
		}
	}
}
.skill-item__exp-title {
	h2 {
		font-size: 18px;
		line-height: 22px;
		color: #000;
	}
	h6 {
		margin-bottom: 0;
	}
}
.skill-item__exp-info {
	font-size: 14px;
	line-height: 22px;
	a {
		color: #b13b3b;
		font-weight: 700;
		&:hover {
			color: #b13b3b;
		}
	}
}
.skill-item__gallery-col {
	@media only screen and(min-width: 1530px) {
		flex: 0 0 25%;
		max-width: 25%;
	}
}
.skill-item__title {
	margin-bottom: 25px;
}