.standart-service {
	border: 1px solid #e2e2e5;
	border-radius: 4px;
	overflow: hidden;
	position: relative;

	display: flex;
	flex-direction: column;

}
.standart-service__head {
	padding: 115px 20px 30px;
	border-bottom: 1px solid #e2e2e5;
	flex-grow: 1;

	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	h1, h2, h3, h4, h5, h6 {
		font-size: 18px;
		line-height: 28px;
		color: #000;
		margin-bottom: 5px;
		font-weight: 700;
	}
	p {
		line-height: 22px;
		margin-bottom: 10px;
	}
	div {
		font-size: 12px;
		line-height: 31px;
		strong {
			font-size: 24px;
			font-weight: 700;
			color: #000;
			sup {
				font-size: 12px;
				line-height: 28px;
			}
		}
	}
	.icon {
		position: absolute;
		top: 30px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	@media only screen and (min-width: 992px) {
	}
}
.standart-service__body {
	padding: 20px 20px 58px;
	flex-grow: 1;
	@media only screen and (min-width: 992px) {
		// height: 50%;
	}
}
.standart-service__list {
	li {
		line-height: 30px;
	}
}

.standart-service__button {
	position: absolute;
	
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0;
}