.supported-equipment {
	border: 1px solid #e4e4e7;
	border-radius: 4px;
	padding: 20px 30px;
}
.supported-equipment__head {

}
.supported-equipment__index {
	line-height: 1;
	color: #b13b3b;
	font-weight: 700;
	width: 100%;
	height: 38px;
	max-width: 38px;
	flex: 0 0 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid #b13b3b;
	text-transform: uppercase;
	span {
		position: relative;
		top: 1px;
	}
}
.supported-equipment__logo {
	width: 100%;
	max-width: 70px;
	flex: 0 0 70px;
	height: 34px;

	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	img {
		width: 100%;
		object-fit: cover;
	}
}
.supported-equipment__title {
	line-height: 22px;
}
.supported-equipment__ul {
	line-height: 22px;
}