.task-response {
	.nav-global {
		& > ul {
			border: none;
			& > li {
				@include msm() {
					flex: 0 1 auto;
					max-width: none;
				}
				&:first-child {
					& > a {
						.notif-white {
							background-color: #e5f0ff;
							border-color: #e5f0ff;
						}
						&.active {
							background-color: #e5f0ff;
						}
					}
				}
				&:nth-child(2) {
					& > a {
						.notif-white {
							background-color: #f9f1ae;
							border-color: #f9f1ae;
						}
						&.active {
							background-color: #f9f1ae;
						}
					}
				}
				&:nth-child(3) {
					& > a {
						.notif-white {
							background-color: #ffd7d7;
							border-color: #ffd7d7;
						}
						&.active {
							background-color: #ffd7d7;
						}
					}
				}
				&:nth-child(4) {
					& > a {
						.notif-white {
							background-color: #c8ffb7;
							border-color: #c8ffb7;
						}
						&.active {
							background-color: #c8ffb7;
						}
					}
				}
				&:nth-child {

				}
				& > a {
					background-color: transparent;
					border: none;

					&.active {
						border: none;
						.notif-white {
							background-color: #fff;
							border-color: #e2e2e5;
						}
					}
				}
			}
		}
	}
}

.task-response__title {
	h3 {
		font-size: 18px;
		line-height: 28px;
		color: #000;
		font-weight: 700;
	}
}
.task-response__comments {

}
.task-response__comment {
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
}