.task-sidebar {
	background-color: #f6f7f9;
	border: 1px solid #e2e2e5;
	border-radius: 4px;
	padding: 25px 30px;
	& + * {
		margin-top: 30px;	
	}
}
.task-sidebar__title {
	h3 {
		font-size: 18px;
		line-height: 28px;
		color: #000;
		font-weight: 700;
		margin: 0;
	}
	p {
		line-height: 22px;
		margin: 0;
	}
}
.task-sidebar__head {
	
}
.task-sidebar__list {

}
.task-sidebar__item {
	padding: 13px 0;
	border-bottom: 1px solid #dedee1;
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		border-bottom: none;
	}
}
.task-sidebar__descr {
	position: relative;
	padding-left: 25px;
	.icon {
		position: absolute;
		top: 3px;
		left: 0;
		margin: 0;
	}
	strong {
		line-height: 22px;
		color: #000;
		font-weight: 700;
	}
}
.task-sidebar__price {
	font-size: 14px;
	line-height: 22px;
	span {
		color: #b13b3b;
		text-decoration: line-through;
		margin-right: 2px;
	}
	strong {
		font-weight: 700;
		color: #000;
	}
}

.task-sidebar__check {
	input {
		&:checked {
			& + label {
				font-weight: 400;
			}
		}
	}
	label {
		font-size: 14px;
		line-height: 20px;
		&:before {
			margin-top: -1px;
		}
	}
}
.task-sidebar__note {
	padding: 15px 19px;
	margin-bottom: 30px;
	@include mmd() {
		margin-bottom: 15px;
	}
	.task-sidebar__descr {
		padding: 0;
	}
	.task-sidebar__item {
		padding: 0;
	}
}

.task-sidebar__nstSlider {
	margin-bottom: 45px;
	// position: relative;
	
}