.team-engineer {
	display: block;
	text-align: center;
	background-color: #f6f7f9;
	border: 1px solid #e1e1e5;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	padding: 40px 10px;
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;

		height: 1px;
		width: 100%;
		background-color: #fff;
		opacity: 0;
		visibility: hidden;

	}
	&:hover {
		text-decoration: none;
	}
	&.active {
		background-color: #fff;
		&:before {
			opacity: 1;
			visibility: visible;
			
		}
	}
}
.team-engineer__img {
	border-radius: 4px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	max-width: 120px;
	overflow: hidden;
	
	img {
		width: 100%;
	}	
}
.team-engineer__content {
	font-size: 13px;
	line-height: 22px;
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
	h3 {
		font-size: 18px;
		line-height: 28px;
		color: #000;
		font-weight: 700;
		margin-bottom: 0;
	}
}