.title {
	h2 {
		font-size: 20px;
		line-height: 28px;
		color: #000;
		font-weight: 700;
	}
	h3 {
		font-size: 17px;
		font-weight: 700;
		line-height: 27px;
		color: #000;
	}
	h5 {
		font-size: 16px;
		font-weight: 700;
		color: #000;
		line-height: 24px;
		margin-bottom: 5px;
	}
	h6 {
		font-size: 14px;
		line-height: 22px;
		// font-weight: 400;
		font-weight: 700;
		color: #000;
		margin-bottom: 5px;
	}
	p {
		line-height: 22px;
	}
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.title__logo {
	@include sm() {
		position: absolute;
		right: 0;
		top: 0;
		max-width: 100px;
	}
}

.title_border {
	border-bottom: 1px solid #e2e2e5;
	padding-bottom: 13px !important;
}