.web-site-others {
	ul {
		margin-left: -12px;
		margin-right: -12px;
		li {
			padding-left: 12px;
			padding-right: 12px;
			margin-bottom: 10px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: -1px;
				transform: translate(0, -50%);

				width: 1px;
				height: 11px;
				background-color: #4f5561;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			a {
				font-size: 12px;
				line-height: 15px;
				color: #c7cddc;
			}
		}
	}
}