<div class="articles">
	<div class="row">
		<div class="tab-content__sidebar col-lg-4 col-xl-3">
			<div class="nav-sidebar nav-sidebar_without_icons sidebar-stick nav-sidebar-spy">
				<ul class="list-clr nav nav-pills">
					<li class="nav-item">
						<a href="#id1" class="nav-link active">
							<span>Общие</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id2" class="nav-link">
							<span>Тензодатчики</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id3" class="nav-link">
							<span>Тензорезисторы</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id4" class="nav-link">
							<span>Разное</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tab-content__main col-lg-8 col-xl-9">
			<div class="articles__tab-item tab-content-item" id="id1">
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg1.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green align-middle"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg2.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green align-middle"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg3.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="articles__tab-item tab-content-item" id="id2">
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg1.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green align-middle"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg2.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green align-middle"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg3.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="articles__tab-item tab-content-item" id="id3">
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg1.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green align-middle"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg2.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green align-middle"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg3.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="articles__tab-item tab-content-item" id="id4">
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg1.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green align-middle"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg2.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="article">
					<div class="article__head">
						<div class="article__title title">
							<h2>Особенности установки тензодатчика при температуре -30</h2>
						</div>
						<div class="article__head-info mb-20">
							<div class="row align-items-center">
								<div class="padding">
									<span class="article__head-icon icon icon-clock-green"></span>
									<span>29 июня 2018</span>
								</div>
								<div class="padding">
									<span class="article__head-icon icon icon-bookmark2-green align-middle"></span>
									<a href="#">Тензодатчики,</a>
									<a href="#">Экстримальные условия,</a>
									<a href="#">Монтаж</a>
								</div>
								<div class="padding ml-auto">
									<span class="article__rating align-middle mr-30">
										<span>Рейтинг: 40</span>
										<!-- <div class="icon icon-star1"></div> -->
									</span>
									<button class="favourite-button button-clr align-middle">
										<span class="icon icon-star"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="article__body mb-20">
						<img src="images/articleImg3.jpg" alt="" class="mb-30">
						<div class="article__content content">
							<p>Мы – это глобальная команда стратегов, архитекторов, дизайнеров, разработчиков и инженеров по качеству. В сотрудничестве с вами, используя свой опыт и знания, мы создаем инновационные технологии для решения наиболее важных задач вашего бизнеса. </p>
							<p>Мы мыслим глобально, но работаем с каждым клиентом с учетом особенностей его компании и сферы деятельности. Мы уверены: для бизнеса очень выгодно иметь лучшее программное обеспечение. Но для его создания нужен принципиально новый подход к формированию команды и компетенций – подход, ориентированный на достижение бизнес-результатов. Именно такой подход лежит в основе мировоззрения EPAM.</p>
						</div>
					</div>
					<a href="#" class="article__button button button-border button-border_red mb-20">
						<span>Читать полностью</span>
						<span class="caret caret_white_right"></span>
					</a>
					<div class="article__foot">
						<div class="row align-items-center">
							<div class="padding">
								<span class="article__foot-icon icon icon-eye-green"></span>
								<span>Просмотров: 1559</span>
							</div>
							<div class="padding">
								<span class="article__foot-icon icon icon-comment-green"></span>
								<span>Комментариев: <span class="color-red_dark">90</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination pt-20 pb-20">
				<ul class="list-clr d-flex flex-wrap align-items-start justify-content-center w-100">
					<li class="active"><span>1</span></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">...</a></li>
					<li><a href="#">25</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>