<div class="customer-opened-dialogs">
	<div class="customer-dialog mb-30">
		<div class="customer-dialog__head row justify-content-between align-items-center">
			<div class="customer-dialog__date padding mb-5">
				<strong>Дата публикации: </strong>
				<span>08.10.2018</span>
			</div>
			<a href="#" class="customer-dialog__event padding mb-5">
				<span class="icon icon-bell-grey align-middle mr-10"></span>
				<span class="align-middle mr-5">Новых событий</span>
				<span class="notif-white align-middle">0</span>
			</a>
		</div>
		<div class="customer-dialog__body">
			<div class="customer-dialog__content">
				<h2>Собрать весовую схему</h2>
				<p>Соединять между собой электронные компоненты можно разным способом: можно их просто скручивать, но это будет ненадежно. Можно паять и фиксировать компоненты жестко, но тогда схема будет неразборная. А можно - вставлять в специальные зажимы, и это будет нечто среднее: быстро, относительно надежно, и при этом схема будет разборной.</p>
			</div>
			<div class="row justify-content-between align-items-center">
				<div class="padding mb-20">
					<div class="customer-dialog__note note mb-20"><strong>Заметка:</strong> Чето одни неучи отвечают</div>
					<div class="customer-dialog__employee ">
						<span class="mr-10">Текущий исполнитель: </span>
						<span class="user">
							<span class="user__in">
								<span class="user__img-wrap align-middle mr-5">
									<img src="images/engineer2.jpg" alt="" class="user__img">
								</span>
								<strong class="align-middle">Вольфганг Миллер</strong>
							</span>
						</span>
					</div>
				</div>
				<div class="padding mb-10">
					<a href="#" class="button-border button-border_green button-border_green_hover mr-15 mb-10" data-toggle="tooltip" data-template="<div class='tooltip' role='tooltip'><div class='arrow'></div><div class='tooltip-inner'></div></div>" data-placement="top" title="Позволит быстрее найти исполнителя">Применить платную услугу</a>
					<a href="#" class="button-border button-border_green_background button-border_green_background_hover mb-10">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="customer-dialog__foot">
			<ul class="list-clr row list-border-right">
				<li>
					<a href="#">Поставить на паузу</a>
				</li>
				<li>
					<a href="#">Редактировать</a>
				</li>
				<li>
					<a href="#">Удалить</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="customer-dialog mb-30">
		<div class="customer-dialog__head row justify-content-between align-items-center">
			<div class="customer-dialog__date padding mb-5">
				<strong>Дата публикации: </strong>
				<span>08.10.2018</span>
			</div>
			<a href="#" class="customer-dialog__event padding mb-5 active">
				<span class="icon icon-bell-grey align-middle mr-10"></span>
				<span class=" align-middle mr-5">Новых событий</span>
				<span class="notif-white align-middle">2</span>
			</a>
		</div>
		<div class="customer-dialog__body">
			<div class="customer-dialog__content">
				<h2>Собрать весовую схему</h2>
				<p>Соединять между собой электронные компоненты можно разным способом: можно их просто скручивать, но это будет ненадежно. Можно паять и фиксировать компоненты жестко, но тогда схема будет неразборная. А можно - вставлять в специальные зажимы, и это будет нечто среднее: быстро, относительно надежно, и при этом схема будет разборной.</p>
			</div>
			<div class="row justify-content-between align-items-center">
				<div class="padding mb-20">
					<div class="customer-dialog__note note mb-20"><strong>Заметка:</strong> Чето одни неучи отвечают</div>
					<div class="customer-dialog__employee ">
						<span class="mr-10">Текущий исполнитель: </span>
						<span class="user">
							<span class="user__in">
								<span class="user__img-wrap align-middle mr-5">
									<img src="images/engineer3.jpg" alt="" class="user__img">
								</span>
								<strong class="align-middle">Клаус Бриг</strong>
							</span>
						</span>
					</div>
				</div>
				<div class="padding mb-10">
					<a href="#" class="button-border button-border_green button-border_green_hover mr-15 mb-10" data-toggle="tooltip" data-template="<div class='tooltip' role='tooltip'><div class='arrow'></div><div class='tooltip-inner'></div></div>" data-placement="top" title="Позволит быстрее найти исполнителя">Применить платную услугу</a>
					<a href="#" class="button-border button-border_green_background button-border_green_background_hover mb-10">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="customer-dialog__foot">
			<ul class="list-clr row list-border-right">
				<li>
					<a href="#">Поставить на паузу</a>
				</li>
				<li>
					<a href="#">Редактировать</a>
				</li>
				<li>
					<a href="#">Удалить</a>
				</li>
				<li>
					<a href="#">Применить платную услугу</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="customer-dialog mb-30">
		<div class="customer-dialog__head row justify-content-between align-items-center">
			<div class="customer-dialog__date padding mb-5">
				<strong>Дата публикации: </strong>
				<span>08.10.2018</span>
			</div>
			<a href="#" class="customer-dialog__event padding mb-5">
				<span class="icon icon-bell-grey align-middle mr-10"></span>
				<span class="align-middle mr-5">Новых событий</span>
				<span class="notif-white align-middle">0</span>
			</a>
		</div>
		<div class="customer-dialog__body">
			<div class="customer-dialog__content">
				<h2>Собрать весовую схему</h2>
				<p>Соединять между собой электронные компоненты можно разным способом: можно их просто скручивать, но это будет ненадежно. Можно паять и фиксировать компоненты жестко, но тогда схема будет неразборная. А можно - вставлять в специальные зажимы, и это будет нечто среднее: быстро, относительно надежно, и при этом схема будет разборной.</p>
			</div>
			<div class="row justify-content-between align-items-center">
				<div class="padding mb-20">
					<div class="customer-dialog__note note mb-20"><strong>Заметка:</strong> Чето одни неучи отвечают</div>
				</div>
				<div class="padding mb-10">
					<a href="#" class="button-border button-border_green button-border_green_hover mr-15 mb-10" data-toggle="tooltip" data-template="<div class='tooltip' role='tooltip'><div class='arrow'></div><div class='tooltip-inner'></div></div>" data-placement="top" title="Позволит быстрее найти исполнителя">Применить платную услугу</a>
					<a href="#" class="button-border button-border_green_background button-border_green_background_hover mb-10">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="customer-dialog__foot">
			<ul class="list-clr row list-border-right">
				<li>
					<a href="#">Поставить на паузу</a>
				</li>
				<li>
					<a href="#">Редактировать</a>
				</li>
				<li>
					<a href="#">Удалить</a>
				</li>
				<li>
					<a href="#">Применить платную услугу</a>
				</li>
			</ul>
		</div>
	</div>
</div>