<div class="dialogs-pane">
	<div class="row align-items-center">
		<div class="dialogs-pane__folder dialog-actions-folder col-lg-6">
			<div class="dialog-actions-folder__row row">
				<div class="dialog-actions-folder__item padding mb-10">Собственные папки:</div>
				<div class="dialog-actions-folder__item padding mb-10">
					<a href="#">
						<span>Северный поток</span>
						<span class="notif">3</span>
					</a>
				</div>
				<div class="dialog-actions-folder__item padding mb-10">
					<a href="#">
						<span>Южный поток</span>
						<span class="notif">2</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="d-flex flex-wrap justify-content-end">
				<a href="#" class="dialogs-pane__create-folder button-border button-border_green_background button-border_green_background_hover mb-10">Создать новую</a>
			</div>
		</div>
	</div>
	<div class="dialogs-list mb-30">
		<div class="dialogs-list-item">
			<div class="row">
				<div class="dialogs-list-item__check padding">
					<div class="filter-check">
						<input type="checkbox" id="check1">
						<label for="check1"></label>
					</div>
				</div>
				<a href="#" class="dialogs-list-item__wrap d-flex flex-wrap">
					<div class="dialogs-list-item__user user">
						<div class="user__img-wrap" style="background-image: url('images/engineer4.jpg');"></div>
					</div>
					<div class="dialogs-list-item__user-info">
						<div class="dialogs-list-item__title last-mb-cancel mb-5">
							<h3>Марк Саган</h3>
							<p>Инженер</p>
							<p>Специализация: Весовые схемы</p>
						</div>
						<div class="note">
							<strong>Заметка:</strong> Общаемся по проекту «Северный поток»
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="dialogs-list-item">
			<div class="row">
				<div class="dialogs-list-item__check padding">
					<div class="filter-check">
						<input type="checkbox" id="check2">
						<label for="check2"></label>
					</div>
				</div>
				<a href="#" class="dialogs-list-item__wrap d-flex flex-wrap">
					<div class="dialogs-list-item__user user">
						<div class="user__img-wrap" style="background-image: url('images/engineer3.jpg');"></div>
					</div>
					<div class="dialogs-list-item__user-info">
						<div class="dialogs-list-item__title last-mb-cancel mb-5">
							<h3>Клаус Шмидт</h3>
							<p>Инженер</p>
							<p>Специализация: Весовые схемы</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="dialogs-list-item active">
			<div class="row">
				<div class="dialogs-list-item__check padding">
					<div class="filter-check">
						<input type="checkbox" id="check3">
						<label for="check3"></label>
					</div>
				</div>
				<a href="#" class="dialogs-list-item__wrap d-flex flex-wrap">
					<div class="dialogs-list-item__user user">
						<div class="user__img-wrap" style="background-image: url('images/engineer5.png');"></div>
					</div>
					<div class="dialogs-list-item__user-info">
						<div class="dialogs-list-item__title last-mb-cancel mb-5">
							<h3>Джулиан Шефер</h3>
							<p>Инженер</p>
							<p>Специализация: Весовые схемы</p>
						</div>
						<div class="notif">2</div>
					</div>
				</a>
			</div>
		</div>
		<div class="dialogs-list-item">
			<div class="row">
				<div class="dialogs-list-item__check padding">
					<div class="filter-check">
						<input type="checkbox" id="check4">
						<label for="check4"></label>
					</div>
				</div>
				<a href="#" class="dialogs-list-item__wrap d-flex flex-wrap">
					<div class="dialogs-list-item__user user">
						<div class="user__img-wrap" style="background-image: url('images/engineer6.png');"></div>
					</div>
					<div class="dialogs-list-item__user-info">
						<div class="dialogs-list-item__title last-mb-cancel mb-5">
							<h3>Гоц Кауфман</h3>
							<p>Инженер</p>
							<p>Специализация: Весовые схемы</p>
						</div>
						<div class="note">
							<strong>Заметка:</strong> Невоспитанно общается
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="dialog-actions-folder">
		<div class="d-flex flex-wrap align-items-center">
			<div class="dialog-actions-folder__txt mb-10">Выделеные</div>
			<div class="dialog-actions-folder__select-wrap mb-10">
				<select class="dialog-actions-folder__select select select_grey nice-select select-in-tabs">
					<option value="1">Отправить в корзину</option>
					<option value="2">Переместить</option>
					<option value="3">Оправить..</option>
				</select>
			</div>
			<button type="submit" class="dialog-actions-folder__button button-border button-border_green_background button-border_green_background_hover mb-10">Ок</button>
		</div>
	</div>
</div>