<div class="equipment-wrap__filtering d-flex flex-wrap mb-10">
	<div>Сортировать по: </div>
	<ul class="equipment-wrap__filtering-list list-clr d-flex flex-wrap">
		<li><a href="#" class="active">Новизне</a></li>
		<li><a href="#">Наименованию</a></li>
	</ul>
</div>
<a href="#" class="equipment-preview mb-20">
	<div class="equipment-preview__in row">
		<div class="equipment-preview__col col-md-3 col-lg-12 col-xl-3">
			<div class="equipment-preview__img">
				<img src="images/equipment1.png" alt="">
			</div>
		</div>
		<div class="equipment-preview__col equipment-preview__col_large col-md-9 col-lg-12 col-xl-9">
			<div class="quipment-wrap__content">
				<h3>HBM SBT</h3>
				<h4>Тензодатчик балочного типа</h4>
				<p><strong>Комментарий:</strong> Соберу и разберу данный датчик в 3 часа ночи с закрытыми глазами.</p>
			</div>
			<div class="equipment-wrap__services row">
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Установка</span>
				</div>
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Проверка</span>
				</div>
				<div class="padding">
					<span class="icon icon-negative-red align-middle mr-5"></span>
					<span>Ремонт</span>
				</div>
			</div>
		</div>
	</div>
</a>
<a href="#" class="equipment-preview mb-20">
	<div class="equipment-preview__in row">
		<div class="equipment-preview__col col-md-3 col-lg-12 col-xl-3">
			<div class="equipment-preview__img">
				<img src="images/equipment2.png" alt="">
			</div>
		</div>
		<div class="equipment-preview__col equipment-preview__col_large col-md-9 col-lg-12 col-xl-9">
			<div class="quipment-wrap__content">
				<h3>HBM SB6</h3>
				<h4>Тензодатчик балочного типа</h4>
				<p><strong>Комментарий:</strong> Соберу и разберу данный датчик в 3 часа ночи с закрытыми глазами.</p>
			</div>
			<div class="equipment-wrap__services row">
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Установка</span>
				</div>
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Проверка</span>
				</div>
				<div class="padding">
					<span class="icon icon-negative-red align-middle mr-5"></span>
					<span>Ремонт</span>
				</div>
			</div>
		</div>
	</div>
</a>
<a href="#" class="equipment-preview mb-20">
	<div class="equipment-preview__in row">
		<div class="equipment-preview__col col-md-3 col-lg-12 col-xl-3">
			<div class="equipment-preview__img">
				<img src="images/equipment3.png" alt="">
			</div>
		</div>
		<div class="equipment-preview__col equipment-preview__col_large col-md-9 col-lg-12 col-xl-9">
			<div class="quipment-wrap__content">
				<h3>HBM SB8</h3>
				<h4>Тензодатчик балочного типа</h4>
				<p><strong>Комментарий:</strong> Соберу и разберу данный датчик в 3 часа ночи с закрытыми глазами.</p>
			</div>
			<div class="equipment-wrap__services row">
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Установка</span>
				</div>
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Проверка</span>
				</div>
				<div class="padding">
					<span class="icon icon-negative-red align-middle mr-5"></span>
					<span>Ремонт</span>
				</div>
			</div>
		</div>
	</div>
</a>
<a href="#" class="equipment-preview mb-20">
	<div class="equipment-preview__in row">
		<div class="equipment-preview__col col-md-3 col-lg-12 col-xl-3">
			<div class="equipment-preview__img">
				<img src="images/equipment4.png" alt="">
			</div>
		</div>
		<div class="equipment-preview__col equipment-preview__col_large col-md-9 col-lg-12 col-xl-9">
			<div class="quipment-wrap__content">
				<h3>HBM SBT</h3>
				<h4>Тензодатчик балочного типа</h4>
				<p><strong>Комментарий:</strong> Соберу и разберу данный датчик в 3 часа ночи с закрытыми глазами.</p>
			</div>
			<div class="equipment-wrap__services row">
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Установка</span>
				</div>
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Проверка</span>
				</div>
				<div class="padding">
					<span class="icon icon-negative-red align-middle mr-5"></span>
					<span>Ремонт</span>
				</div>
			</div>
		</div>
	</div>
</a>
<a href="#" class="equipment-preview mb-20">
	<div class="equipment-preview__in row">
		<div class="equipment-preview__col col-md-3 col-lg-12 col-xl-3">
			<div class="equipment-preview__img">
				<img src="images/equipment5.png" alt="">
			</div>
		</div>
		<div class="equipment-preview__col equipment-preview__col_large col-md-9 col-lg-12 col-xl-9">
			<div class="quipment-wrap__content">
				<h3>HBM SLB</h3>
				<h4>Тензодатчик балочного типа</h4>
				<p><strong>Комментарий:</strong> Соберу и разберу данный датчик в 3 часа ночи с закрытыми глазами.</p>
			</div>
			<div class="equipment-wrap__services row">
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Установка</span>
				</div>
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Проверка</span>
				</div>
				<div class="padding">
					<span class="icon icon-negative-red align-middle mr-5"></span>
					<span>Ремонт</span>
				</div>
			</div>
		</div>
	</div>
</a>
<a href="#" class="equipment-preview mb-20">
	<div class="equipment-preview__in row">
		<div class="equipment-preview__col col-md-3 col-lg-12 col-xl-3">
			<div class="equipment-preview__img">
				<img src="images/equipment1.png" alt="">
			</div>
		</div>
		<div class="equipment-preview__col equipment-preview__col_large col-md-9 col-lg-12 col-xl-9">
			<div class="quipment-wrap__content">
				<h3>HBM BK6</h3>
				<h4>Тензодатчик балочного типа</h4>
				<p><strong>Комментарий:</strong> Соберу и разберу данный датчик в 3 часа ночи с закрытыми глазами.</p>
			</div>
			<div class="equipment-wrap__services row">
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Установка</span>
				</div>
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Проверка</span>
				</div>
				<div class="padding">
					<span class="icon icon-negative-red align-middle mr-5"></span>
					<span>Ремонт</span>
				</div>
			</div>
		</div>
	</div>
</a>
<a href="#" class="equipment-preview mb-20">
	<div class="equipment-preview__in row">
		<div class="equipment-preview__col col-md-3 col-lg-12 col-xl-3">
			<div class="equipment-preview__img">
				<img src="images/equipment2.png" alt="">
			</div>
		</div>
		<div class="equipment-preview__col equipment-preview__col_large col-md-9 col-lg-12 col-xl-9">
			<div class="quipment-wrap__content">
				<h3>HBM SB6</h3>
				<h4>Тензодатчик балочного типа</h4>
				<p><strong>Комментарий:</strong> Соберу и разберу данный датчик в 3 часа ночи с закрытыми глазами.</p>
			</div>
			<div class="equipment-wrap__services row">
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Установка</span>
				</div>
				<div class="padding">
					<span class="icon icon-check-green align-middle mr-5"></span>
					<span>Проверка</span>
				</div>
				<div class="padding">
					<span class="icon icon-negative-red align-middle mr-5"></span>
					<span>Ремонт</span>
				</div>
			</div>
		</div>
	</div>
</a>