<div class="questions row">
	<div class="tab-content__sidebar col-lg-4 col-xl-3">
		<div class="nav-sidebar sidebar-stick nav-sidebar-spy">
			<ul class="list-clr nav nav-pills">
				<li class="nav-item">
					<a href="#id1" class="nav-link active">
						<span>Популярные вопросы</span>
						<span class="caret caret_right_grey"></span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#id2" class="nav-link" >
						<span>Все об Industrial Markets</span>
						<span class="caret caret_right_grey"></span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#id3" class="nav-link" >
						<span>Продавец</span>
						<span class="caret caret_right_grey"></span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#id4" class="nav-link" >
						<span>Моя учетная запись</span>
						<span class="caret caret_right_grey"></span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#id5" class="nav-link" >
						<span>Мои денежные средства</span>
						<span class="caret caret_right_grey"></span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#id6" class="nav-link" >
						<span>Мои внешние ресурсы</span>
						<span class="caret caret_right_grey"></span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#id7" class="nav-link" >
						<span>Претензии</span>
						<span class="caret caret_right_grey"></span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#id8" class="nav-link" >
						<span>Продукты и функции Industrial Markets</span>
						<span class="caret caret_right_grey"></span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#id9" class="nav-link" >
						<span>Бизнес-решения Industrial Markets</span>
						<span class="caret caret_right_grey"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tab-content__main col-lg-8 col-xl-9">
		<div class="questions__item tab-content-item" id="id1">
			<div class="questions__item-title title">
				<h2>Популярные вопросы</h2>
			</div>
			<ul class="list-clr">
				<li><a href="#">Можно ли отменить платеж Industrial Markets, который уже мною отправлен?</a></li>
				<li><a href="#">Как просмотреть или изменить сведения о своем счете Industrial Markets?</a></li>
				<li><a href="#">Как получать платежи?</a></li>
				<li><a href="#">Как вывести средства со своего счета Industrial Markets?</a></li>
				<li><a href="#">Как восстановить доступ к своему счету Industrial Markets?</a></li>
				<li><a href="#">Почему мой счет Industrial Markets заблокирован?</a></li>
				<li><a href="#">Как я узнаю об обновлении политики Industrial Markets?</a></li>
				<li><a href="#">На какой срок мой счет Industrial Markets может быть заблокирован?</a></li>
				<li><a href="#">Каковы размеры комиссий для счетов Industrial Markets?</a></li>
				<li><a href="#">Как увеличить лимит на вывод средств?</a></li>
			</ul>
		</div>
		<div class="questions__item tab-content-item" id="id2">
			<div class="questions__item-title title">
				<h2>Все об Industrial Markets</h2>
			</div>
			<ul class="list-clr">
				<li><a href="#">Можно ли отменить платеж Industrial Markets, который уже мною отправлен?</a></li>
				<li><a href="#">Как просмотреть или изменить сведения о своем счете Industrial Markets?</a></li>
				<li><a href="#">Как получать платежи?</a></li>
				<li><a href="#">Как вывести средства со своего счета Industrial Markets?</a></li>
				<li><a href="#">Как восстановить доступ к своему счету Industrial Markets?</a></li>
				<li><a href="#">Почему мой счет Industrial Markets заблокирован?</a></li>
				<li><a href="#">Как я узнаю об обновлении политики Industrial Markets?</a></li>
				<li><a href="#">На какой срок мой счет Industrial Markets может быть заблокирован?</a></li>
				<li><a href="#">Каковы размеры комиссий для счетов Industrial Markets?</a></li>
				<li><a href="#">Как увеличить лимит на вывод средств?</a></li>
			</ul>
		</div>
		<div class="questions__item tab-content-item" id="id3">
			<div class="questions__item-title title">
				<h2>Продавец</h2>
			</div>
			<ul class="list-clr">
				<li><a href="#">Можно ли отменить платеж Industrial Markets, который уже мною отправлен?</a></li>
				<li><a href="#">Как просмотреть или изменить сведения о своем счете Industrial Markets?</a></li>
				<li><a href="#">Как получать платежи?</a></li>
				<li><a href="#">Как вывести средства со своего счета Industrial Markets?</a></li>
				<li><a href="#">Как восстановить доступ к своему счету Industrial Markets?</a></li>
				<li><a href="#">Почему мой счет Industrial Markets заблокирован?</a></li>
				<li><a href="#">Как я узнаю об обновлении политики Industrial Markets?</a></li>
				<li><a href="#">На какой срок мой счет Industrial Markets может быть заблокирован?</a></li>
				<li><a href="#">Каковы размеры комиссий для счетов Industrial Markets?</a></li>
				<li><a href="#">Как увеличить лимит на вывод средств?</a></li>
			</ul>
		</div>
		<div class="questions__item tab-content-item" id="id4">
			<div class="questions__item-title title">
				<h2>Моя учетная запись</h2>
			</div>
			<ul class="list-clr">
				<li><a href="#">Можно ли отменить платеж Industrial Markets, который уже мною отправлен?</a></li>
				<li><a href="#">Как просмотреть или изменить сведения о своем счете Industrial Markets?</a></li>
				<li><a href="#">Как получать платежи?</a></li>
				<li><a href="#">Как вывести средства со своего счета Industrial Markets?</a></li>
				<li><a href="#">Как восстановить доступ к своему счету Industrial Markets?</a></li>
				<li><a href="#">Почему мой счет Industrial Markets заблокирован?</a></li>
				<li><a href="#">Как я узнаю об обновлении политики Industrial Markets?</a></li>
				<li><a href="#">На какой срок мой счет Industrial Markets может быть заблокирован?</a></li>
				<li><a href="#">Каковы размеры комиссий для счетов Industrial Markets?</a></li>
				<li><a href="#">Как увеличить лимит на вывод средств?</a></li>
			</ul>
		</div>
		<div class="questions__item tab-content-item" id="id5">
			<div class="questions__item-title title">
				<h2>Мои денежные средства</h2>
			</div>
			<ul class="list-clr">
				<li><a href="#">Можно ли отменить платеж Industrial Markets, который уже мною отправлен?</a></li>
				<li><a href="#">Как просмотреть или изменить сведения о своем счете Industrial Markets?</a></li>
				<li><a href="#">Как получать платежи?</a></li>
				<li><a href="#">Как вывести средства со своего счета Industrial Markets?</a></li>
				<li><a href="#">Как восстановить доступ к своему счету Industrial Markets?</a></li>
				<li><a href="#">Почему мой счет Industrial Markets заблокирован?</a></li>
				<li><a href="#">Как я узнаю об обновлении политики Industrial Markets?</a></li>
				<li><a href="#">На какой срок мой счет Industrial Markets может быть заблокирован?</a></li>
				<li><a href="#">Каковы размеры комиссий для счетов Industrial Markets?</a></li>
				<li><a href="#">Как увеличить лимит на вывод средств?</a></li>
			</ul>
		</div>
		<div class="questions__item tab-content-item" id="id6">
			<div class="questions__item-title title">
				<h2>Мои внешние ресурсы</h2>
			</div>
			<ul class="list-clr">
				<li><a href="#">Можно ли отменить платеж Industrial Markets, который уже мною отправлен?</a></li>
				<li><a href="#">Как просмотреть или изменить сведения о своем счете Industrial Markets?</a></li>
				<li><a href="#">Как получать платежи?</a></li>
				<li><a href="#">Как вывести средства со своего счета Industrial Markets?</a></li>
				<li><a href="#">Как восстановить доступ к своему счету Industrial Markets?</a></li>
				<li><a href="#">Почему мой счет Industrial Markets заблокирован?</a></li>
				<li><a href="#">Как я узнаю об обновлении политики Industrial Markets?</a></li>
				<li><a href="#">На какой срок мой счет Industrial Markets может быть заблокирован?</a></li>
				<li><a href="#">Каковы размеры комиссий для счетов Industrial Markets?</a></li>
				<li><a href="#">Как увеличить лимит на вывод средств?</a></li>
			</ul>
		</div>
		<div class="questions__item tab-content-item" id="id7">
			<div class="questions__item-title title">
				<h2>Претензии</h2>
			</div>
			<ul class="list-clr">
				<li><a href="#">Можно ли отменить платеж Industrial Markets, который уже мною отправлен?</a></li>
				<li><a href="#">Как просмотреть или изменить сведения о своем счете Industrial Markets?</a></li>
				<li><a href="#">Как получать платежи?</a></li>
				<li><a href="#">Как вывести средства со своего счета Industrial Markets?</a></li>
				<li><a href="#">Как восстановить доступ к своему счету Industrial Markets?</a></li>
				<li><a href="#">Почему мой счет Industrial Markets заблокирован?</a></li>
				<li><a href="#">Как я узнаю об обновлении политики Industrial Markets?</a></li>
				<li><a href="#">На какой срок мой счет Industrial Markets может быть заблокирован?</a></li>
				<li><a href="#">Каковы размеры комиссий для счетов Industrial Markets?</a></li>
				<li><a href="#">Как увеличить лимит на вывод средств?</a></li>
			</ul>
		</div>
		<div class="questions__item tab-content-item" id="id8">
			<div class="questions__item-title title">
				<h2>Продукты и функции Industrial Markets</h2>
			</div>
			<ul class="list-clr">
				<li><a href="#">Можно ли отменить платеж Industrial Markets, который уже мною отправлен?</a></li>
				<li><a href="#">Как просмотреть или изменить сведения о своем счете Industrial Markets?</a></li>
				<li><a href="#">Как получать платежи?</a></li>
				<li><a href="#">Как вывести средства со своего счета Industrial Markets?</a></li>
				<li><a href="#">Как восстановить доступ к своему счету Industrial Markets?</a></li>
				<li><a href="#">Почему мой счет Industrial Markets заблокирован?</a></li>
				<li><a href="#">Как я узнаю об обновлении политики Industrial Markets?</a></li>
				<li><a href="#">На какой срок мой счет Industrial Markets может быть заблокирован?</a></li>
				<li><a href="#">Каковы размеры комиссий для счетов Industrial Markets?</a></li>
				<li><a href="#">Как увеличить лимит на вывод средств?</a></li>
			</ul>
		</div>
		<div class="questions__item tab-content-item" id="id9">
			<div class="questions__item-title title">
				<h2>Бизнес-решения Industrial Markets</h2>
			</div>
			<ul class="list-clr">
				<li><a href="#">Можно ли отменить платеж Industrial Markets, который уже мною отправлен?</a></li>
				<li><a href="#">Как просмотреть или изменить сведения о своем счете Industrial Markets?</a></li>
				<li><a href="#">Как получать платежи?</a></li>
				<li><a href="#">Как вывести средства со своего счета Industrial Markets?</a></li>
				<li><a href="#">Как восстановить доступ к своему счету Industrial Markets?</a></li>
				<li><a href="#">Почему мой счет Industrial Markets заблокирован?</a></li>
				<li><a href="#">Как я узнаю об обновлении политики Industrial Markets?</a></li>
				<li><a href="#">На какой срок мой счет Industrial Markets может быть заблокирован?</a></li>
				<li><a href="#">Каковы размеры комиссий для счетов Industrial Markets?</a></li>
				<li><a href="#">Как увеличить лимит на вывод средств?</a></li>
			</ul>
		</div>
	</div>
</div>