<div class="reviews-section">
	<div class="row">
		<div class="tab-content__sidebar col-lg-4 col-xl-3">
			<div class="nav-sidebar sidebar-stick nav-sidebar-spy">
				<ul class="list-clr nav nav-pills">
					<li class="nav-item">
						<a href="#id1" class="nav-link active">
							<span class="icon icon-com-green"></span>
							<span>Отзывы</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id2" class="nav-link">
							<span class="icon icon-like-green"></span>
							<span>Рекомендации</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tab-content__main col-lg-8 col-xl-9">
			<div class="reviews-section__tab-item tab-content-item" id="id1">
				<div class="reviews title">
					<div class="row align-items-center">
						<div class="title padding">
							<h2>Отзывы</h2>
						</div>
						<div class="reviews__rate rate padding">
							<strong>всего:</strong>
							<span class="rate__positive">+50</span>
							<span>/</span>
							<span class="rate__negative">-1</span>
						</div>
					</div>
				</div>
				<div class="reviews">
					<div class="row">
						<div class="col-xl-9 mb-10">
							<div class="article-head">
								<div class="d-flex flex-wrap align-items-center mb-5">
									<a href="#" class="reviews__toggle icon icon-plus-green mr-10 align-middle article-head__caret"></a>
									<div class="title">
										<h2>Александр Романов, <span class="text-uppercase">ГАЗПРОМ</span></h2>
									</div>
								</div>
								<ul class="article-head__descr mb-20 list-clr d-flex flex-wrap">
									<li>
										<span class="color-grey">Дата реализации:</span>
										<span>Сбор весовой схемы</span>
									</li>
									<li>
										<span class="color-grey">Потрачено времени:</span>
										<span>05.10.2014</span>
									</li>
								</ul>
							</div>
							<div class="title mb-20">
								<h6 class="mb-0">Достоинства:</h6>
								<p>Очень доволен результатом сотрудничества с Вольфгангом. Быстро и качественно выполнил поставленную задачу. Буду обращаться в дальнейшем.</p>
							</div>
							<div class="title mb-20">
								<h6 class="mb-0">Недостатки</h6>
								<p>Не были замечены</p>
							</div>
							<div class="reviews__total reviews__total_positive">
								Профессионал, всегда четко планирующий работу и ясно объясняющий заказчику предстоящие шаги. Большое спасибо Вольфгангу за регулярные консультации, ответы на вопросы и помощь не только по продвижению, но и по другим моментам для сайтов разной направленности.   
							</div>
						</div>
						<div class="col-xl-3 text-xl-center mb-10">
							<a href="#" class="reviews__preview-link preview-link"><img src="images/reviewsImg1.jpg" alt=""></a>
						</div>
					</div>
				</div>
				<div class="reviews">
					<div class="row">
						<div class="col-xl-9 mb-10">
							<div class="article-head">
								<div class="d-flex flex-wrap align-items-center mb-5">
									<a href="#" class="reviews__toggle icon icon-minus-red mr-10 align-middle article-head__caret"></a>
									<div class="title">
										<h2>Михаил Дегтяров, <span class="text-uppercase">Лукойл</span></h2>
									</div>								
								</div>
								<ul class="article-head__descr mb-20 list-clr d-flex flex-wrap">
									<li>
										<span class="color-grey">Дата реализации:</span>
										<span>Сбор весовой схемы</span>
									</li>
									<li>
										<span class="color-grey">Потрачено времени:</span>
										<span>05.10.2014</span>
									</li>
								</ul>
							</div>
							<div class="title mb-20">
								<h6 class="mb-0">Достоинства:</h6>
								<p>Сложно найти положительные стороны.</p>
							</div>
							<div class="title mb-20">
								<h6 class="mb-0">Недостатки</h6>
								<p>Читать выше.</p>
							</div>
							<div class="reviews__total reviews__total_negative mb-20">Инженер группа компаний не составляет никаких трудовых договоров, не выплачивает обещанную зарплату, увольняет без денег. В постоянном поиске офис-менеджеров, директоров по привлечению клиентов, инженеров (потому, что все бегут от него) будьте осторожны, не попадитесь в его жадные лапы.</div>
						</div>
						<div class="col-xl-3 text-xl-center mb-10">
							<a href="#" class="reviews__preview-link preview-link"><img src="images/reviewsImg2.jpg" alt=""></a>
						</div>
						<div class="review__galery d-flex flex-wrap">
							<div class="padding mb-10">
								<a href="script;" data-fancybox="galery5" data-src="images/reviewsGalery1.jpg" class="preview-link preview-link_radius"><img src="images/reviewsGalery1.jpg" alt=""></a>
							</div>
							<div class="padding mb-10">
								<a href="script;" data-fancybox="galery5" data-src="images/reviewsGalery2.jpg" class="preview-link preview-link_radius"><img src="images/reviewsGalery2.jpg" alt=""></a>
							</div>
							<div class="padding mb-10">
								<a href="script;" data-fancybox="galery5" data-src="images/reviewsGalery3.jpg" class="preview-link preview-link_radius"><img src="images/reviewsGalery3.jpg" alt=""></a>
							</div>
						</div>
					</div>
				</div>
				<div class="reviews">
					<div class="row">
						<div class="col-xl-9 mb-10">
							<div class="article-head">
								<div class="d-flex flex-wrap align-items-center mb-5">
									<a href="#" class="reviews__toggle icon icon-plus-green mr-10 align-middle article-head__caret"></a>
									<div class="title">
										<h2>Александр Романов, <span class="text-uppercase">ГАЗПРОМ</span></h2>
									</div>								
								</div>
								<ul class="article-head__descr mb-20 list-clr d-flex flex-wrap">
									<li>
										<span class="color-grey">Дата реализации:</span>
										<span>Сбор весовой схемы</span>
									</li>
									<li>
										<span class="color-grey">Потрачено времени:</span>
										<span>05.10.2014</span>
									</li>
								</ul>
							</div>
							<div class="title mb-20">
								<h6 class="mb-0">Достоинства:</h6>
								<p>Очень доволен результатом сотрудничества с Вольфгангом. Быстро и качественно выполнил поставленную задачу. Буду обращаться в дальнейшем.</p>
							</div>
							<div class="title mb-20">
								<h6 class="mb-0">Недостатки</h6>
								<p>Не были замечены</p>
							</div>
							<div class="reviews__total reviews__total_positive">
								Профессионал, всегда четко планирующий работу и ясно объясняющий заказчику предстоящие шаги. Большое спасибо Вольфгангу за регулярные консультации, ответы на вопросы и помощь не только по продвижению, но и по другим моментам для сайтов разной направленности.   
							</div>
						</div>
						<div class="col-xl-3 text-xl-center mb-10">
							<a href="#" class="reviews__preview-link preview-link"><img src="images/reviewsImg1.jpg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="reviews-section__tab-item tab-content-item">
				<div class="skill-item reviews" id="id2">
					<div class="skill-item__title title text-center text-sm-left">
						<h2>Рекомендации</h2>
					</div>
					<div class="row">
						<div class="skill-item__gallery-col text-center text-sm-left col-sm-6 col-xl-4 mb-30 mb-xl-40">
							<a href="script;" data-fancybox="galery6" data-src="images/reviewRec1.jpg" class="add-courses">
								<img src="images/reviewRec1.jpg" alt="" class="add-courses__img mb-10">
								<div class="add-courses__content">
									<h4>Школа инженеров, 2016 г.</h4>
									<p>Работа в условиях высокого напряжения</p>
								</div>
							</a>
						</div>
						<div class="skill-item__gallery-col text-center text-sm-left col-sm-6 col-xl-4 mb-30 mb-xl-40">
							<a href="script;" data-fancybox="galery6" data-src="images/reviewRec2.jpg" class="add-courses">
								<img src="images/reviewRec2.jpg" alt="" class="add-courses__img mb-10">
								<div class="add-courses__content">
									<h4>Инженерная ассоциация, 2016 г.</h4>
									<p>Работа с тяжелыми металлами</p>
								</div>
							</a>
						</div>
						<div class="skill-item__gallery-col text-center text-sm-left col-sm-6 col-xl-4 mb-30 mb-xl-40">
							<a href="script;" data-fancybox="galery6" data-src="images/reviewRec3.jpg" class="add-courses">
								<img src="images/reviewRec3.jpg" alt="" class="add-courses__img mb-10">
								<div class="add-courses__content">
									<h4>ФизТех Москва, 2013 г.</h4>
									<p>Достижение максимального сопротивления тензорезистора</p>
								</div>
							</a>
						</div>
						<div class="skill-item__gallery-col text-center text-sm-left col-sm-6 col-xl-4 mb-30 mb-xl-40">
							<a href="script;" data-fancybox="galery6" data-src="images/reviewRec4.jpg" class="add-courses">
								<img src="images/reviewRec4.jpg" alt="" class="add-courses__img mb-10">
								<div class="add-courses__content">
									<h4>Школа инженеров, 2016 г.</h4>
									<p>Работа в условиях высокого напряжения</p>
								</div>
							</a>
						</div>
						<div class="skill-item__gallery-col text-center text-sm-left col-sm-6 col-xl-4 mb-30 mb-xl-40">
							<a href="script;" data-fancybox="galery6" data-src="images/reviewRec5.jpg" class="add-courses">
								<img src="images/reviewRec5.jpg" alt="" class="add-courses__img mb-10">
								<div class="add-courses__content">
									<h4>Школа инженеров, 2016 г.</h4>
									<p>Работа в условиях высокого напряжения</p>
								</div>
							</a>
						</div>
						<div class="skill-item__gallery-col text-center text-sm-left col-sm-6 col-xl-4 mb-30 mb-xl-40">
							<a href="script;" data-fancybox="galery6" data-src="images/reviewRec6.jpg" class="add-courses">
								<img src="images/reviewRec6.jpg" alt="" class="add-courses__img mb-10">
								<div class="add-courses__content">
									<h4>Инженерная ассоциация, 2016 г.</h4>
									<p>Работа с тяжелыми металлами</p>
								</div>
							</a>
						</div>
						<div class="skill-item__gallery-col text-center text-sm-left col-sm-6 col-xl-4 mb-30 mb-xl-40">
							<a href="script;" data-fancybox="galery6" data-src="images/reviewRec7.jpg" class="add-courses">
								<img src="images/reviewRec7.jpg" alt="" class="add-courses__img mb-10">
								<div class="add-courses__content">
									<h4>ФизТех Москва, 2013 г.</h4>
									<p>Достижение максимального сопротивления тензорезистора</p>
								</div>
							</a>
						</div>
						<div class="skill-item__gallery-col text-center text-sm-left col-sm-6 col-xl-4 mb-30 mb-xl-40">
							<a href="script;" data-fancybox="galery6" data-src="images/reviewRec8.jpg" class="add-courses">
								<img src="images/reviewRec8.jpg" alt="" class="add-courses__img mb-10">
								<div class="add-courses__content">
									<h4>Школа инженеров, 2016 г.</h4>
									<p>Работа в условиях высокого напряжения</p>
								</div>
							</a>
						</div>													
					</div>
				</div>
			</div>
		</div>
	</div>
</div>