<div class="services-section">
	<div class="services-section__row row">
		<div class="tab-content__sidebar col-lg-4 col-xl-3">
			<div class="nav-sidebar sidebar-stick nav-sidebar-spy">
				<ul class="list-clr nav nav-pills">
					<li class="nav-item">
						<a href="#id1" class="nav-link active">
							<span class="icon icon-com-green"></span>
							<span>Типовые услуги</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id2" class="nav-link">
							<span class="icon icon-like-green"></span>
							<span>Прайс-лист</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tab-content__main col-lg-8 col-xl-9">
			<div class="tab-content-item services" id="id1">
				<div class="title mb-20">
					<h2>Типовые услуги</h2>
				</div>
				<div class="standart-service-list">
					<div class="standart-service-list__in row">
						<div class="standart-service-list__col col-md-6 col-xl-4 mb-20">
							<div class="standart-service h-100">
								<div class="standart-service__head text-center">
									<span class="icon icon-auto mb-20"></span>
									<h3>Атоматизация АСУ</h3>
									<p>Автоматизированная система управления (сокращённо АСУ) — комплекс аппаратных и программных средств</p>
									<div>от <strong><sup>$</sup>850</strong><span> / от 10 дней</span></div>
								</div>
								<div class="standart-service__body">
									<ul class="standart-service__list list-clr list-dotted">
										<li>Консультирование</li>
										<li>Подбор оборудования</li>
										<li>Изготовление шкафов управления</li>
										<li>Шеф-монтаж, пусконаладка</li>
										<li>Программирование ПЛК и SCADA-системы</li>
										<li>Проработка технических решений</li>
									</ul>
									<a href="#" class="standart-service__button button-border button-border_red button-border_red_hover">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="standart-service-list__col col-md-6 col-xl-4 mb-20">
							<div class="standart-service h-100">
								<div class="standart-service__head text-center">
									<span class="icon icon-scheme-red mb-20"></span>
									<h3>Сбор готовой весовой схемы</h3>
									<p>Комплекс аппаратных и программных средств, а также персонала, предназначенный для управления различными процессами</p>
									<div>от <strong><sup>$</sup>1250</strong><span> / от 10 дней</span></div>
								</div>
								<div class="standart-service__body">
									<ul class="standart-service__list list-clr list-dotted">
										<li>Консультирование</li>
										<li>Подбор оборудования</li>
										<li>Изготовление шкафов управления</li>
										<li>Шеф-монтаж, пусконаладка</li>
										<li>Программирование ПЛК и SCADA-системы</li>
										<li>Проработка технических решений</li>
									</ul>
									<a href="#" class="standart-service__button button-border button-border_red button-border_red_hover">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="standart-service-list__col col-md-6 col-xl-4 mb-20">
							<div class="standart-service h-100">
								<div class="standart-service__head text-center">
									<span class="icon icon-chip-red mb-20"></span>
									<h3>Проектирование проектов</h3>
									<p>А также персонала, предназначенный для управления различными процессами в рамках технологического процесса</p>
									<div>от <strong><sup>$</sup>1550</strong><span> / от 10 дней</span></div>
								</div>
								<div class="standart-service__body">
									<ul class="standart-service__list list-clr list-dotted">
										<li>Консультирование</li>
										<li>Подбор оборудования</li>
										<li>Изготовление шкафов управления</li>
										<li>Шеф-монтаж, пусконаладка</li>
										<li>Программирование ПЛК и SCADA-системы</li>
										<li>Проработка технических решений</li>
									</ul>
									<a href="#" class="standart-service__button button-border button-border_red button-border_red_hover">Подробнее</a>
								</div>
							</div>
						</div>
					</div>													
				</div>
			</div>
			<div class="tab-content-item services" id="id2">
				<div class="title mb-20">
					<h2>Прайс-лист</h2>
				</div>
				<div class="filter-checks mb-20">
					<div class="row">
						<div class="padding">
							<div class="filter-check">
								<input type="checkbox" name="table-check" id="check1" checked>
								<label for="check1">Все услуги</label>
							</div>
						</div>
						<div class="padding">
							<div class="filter-check">
								<input type="checkbox" name="table-check" id="check2">
								<label for="check2">Установка</label>
							</div>
						</div>
						<div class="padding">
							<div class="filter-check">
								<input type="checkbox" name="table-check" id="check3">
								<label for="check3">Проектирование</label>
							</div>
						</div>
						<div class="padding">
							<div class="filter-check">
								<input type="checkbox" name="table-check" id="check4">
								<label for="check4">Ремонт</label>
							</div>
						</div>
						<div class="padding">
							<div class="filter-check">
								<input type="checkbox" name="table-check" id="check5">
								<label for="check5">Обслуживание</label>
							</div>
						</div>
					</div>
				</div>
				<div class="table-wrap">
					<table class="site-table">
						<thead>
							<tr>
								<th>Услуги</th>
								<th>Описание</th>
								<th>Стоимость</th>
								<th>Сроки</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="4">
									<div class="site-table__title text-center last-mb-cancel">
										<h3><span class="icon icon-cog-green align-middle"></span><span>Установка</span></h3>
									</div>
									<table class="site-table__table">
										<tbody>
											<tr>
												<td><h4>Консультирование</h4></td>
												<td>Автоматизированная система управления (сокращённо АСУ) — комплекс аппаратных и программных средств</td>
												<td>от <strong>$1000</strong></td>
												<td>от 10 дней</td>
											</tr>
											<tr>
												<td><h4>Изготовление шкафов управления</h4></td>
												<td>Комплекс аппаратных и программных средств, а также персонала, предназначенный для управления различными процессами в рамках</td>
												<td>от <strong>$1200</strong></td>
												<td>от 14 дней</td>
											</tr>
											<tr>
												<td><h4>Шеф-монтаж, пусконаладка</h4></td>
												<td>А также персонала, предназначенный для управления различными процессами в рамках технологического процесса.</td>
												<td>от <strong>$1500</strong></td>
												<td>от 7 дней</td>
											</tr>
											<tr>
												<td><h4>Программирование ПЛК и SCADA-системы</h4></td>
												<td>Автоматизированная система управления (сокращённо АСУ) — комплекс аппаратных и программных средств</td>
												<td>от <strong>$1200</strong></td>
												<td>от 10 дней</td>
											</tr>
											<tr>
												<td><h4>Проработка технических решений</h4></td>
												<td>Комплекс аппаратных и программных средств, а также персонала, предназначенный для управления различными процессами в рамках</td>
												<td>от <strong>$2500</strong></td>
												<td>от 21 дня</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<div class="site-table__title text-center last-mb-cancel">
										<h3><span class="icon icon-project-green align-middle"></span><span>Проектирование</span></h3>
									</div>
									<table class="site-table__table">
										<tbody>
											<tr>
												<td><h4>Консультирование</h4></td>
												<td>Автоматизированная система управления (сокращённо АСУ) — комплекс аппаратных и программных средств</td>
												<td>от <strong>$1000</strong></td>
												<td>от 10 дней</td>
											</tr>
											<tr>
												<td><h4>Изготовление шкафов управления</h4></td>
												<td>Комплекс аппаратных и программных средств, а также персонала, предназначенный для управления различными процессами в рамках</td>
												<td>от <strong>$1200</strong></td>
												<td>от 14 дней</td>
											</tr>
											<tr>
												<td><h4>Шеф-монтаж, пусконаладка</h4></td>
												<td>А также персонала, предназначенный для управления различными процессами в рамках технологического процесса.</td>
												<td>от <strong>$1500</strong></td>
												<td>от 7 дней</td>
											</tr>
											<tr>
												<td><h4>Программирование ПЛК и SCADA-системы</h4></td>
												<td>Автоматизированная система управления (сокращённо АСУ) — комплекс аппаратных и программных средств</td>
												<td>от <strong>$1200</strong></td>
												<td>от 10 дней</td>
											</tr>
											<tr>
												<td><h4>Проработка технических решений</h4></td>
												<td>Комплекс аппаратных и программных средств, а также персонала, предназначенный для управления различными процессами в рамках</td>
												<td>от <strong>$2500</strong></td>
												<td>от 21 дня</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<div class="site-table__title text-center last-mb-cancel">
										<h3><span class="icon icon-repair-green align-middle"></span><span>Ремонт</span></h3>
									</div>
									<table class="site-table__table">
										<tbody>
											<tr>
												<td><h4>Консультирование</h4></td>
												<td>Автоматизированная система управления (сокращённо АСУ) — комплекс аппаратных и программных средств</td>
												<td>от <strong>$1000</strong></td>
												<td>от 10 дней</td>
											</tr>
											<tr>
												<td><h4>Изготовление шкафов управления</h4></td>
												<td>Комплекс аппаратных и программных средств, а также персонала, предназначенный для управления различными процессами в рамках</td>
												<td>от <strong>$1200</strong></td>
												<td>от 14 дней</td>
											</tr>
											<tr>
												<td><h4>Шеф-монтаж, пусконаладка</h4></td>
												<td>А также персонала, предназначенный для управления различными процессами в рамках технологического процесса.</td>
												<td>от <strong>$1500</strong></td>
												<td>от 7 дней</td>
											</tr>
											<tr>
												<td><h4>Программирование ПЛК и SCADA-системы</h4></td>
												<td>Автоматизированная система управления (сокращённо АСУ) — комплекс аппаратных и программных средств</td>
												<td>от <strong>$1200</strong></td>
												<td>от 10 дней</td>
											</tr>
											<tr>
												<td><h4>Проработка технических решений</h4></td>
												<td>Комплекс аппаратных и программных средств, а также персонала, предназначенный для управления различными процессами в рамках</td>
												<td>от <strong>$2500</strong></td>
												<td>от 21 дня</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<div class="site-table__title text-center last-mb-cancel">
										<h3><span class="icon icon-service-green align-middle"></span><span>Обслуживание</span></h3>
									</div>
									<table class="site-table__table">
										<tbody>
											<tr>
												<td><h4>Консультирование</h4></td>
												<td>Автоматизированная система управления (сокращённо АСУ) — комплекс аппаратных и программных средств</td>
												<td>от <strong>$1000</strong></td>
												<td>от 10 дней</td>
											</tr>
											<tr>
												<td><h4>Изготовление шкафов управления</h4></td>
												<td>Комплекс аппаратных и программных средств, а также персонала, предназначенный для управления различными процессами в рамках</td>
												<td>от <strong>$1200</strong></td>
												<td>от 14 дней</td>
											</tr>
											<tr>
												<td><h4>Шеф-монтаж, пусконаладка</h4></td>
												<td>А также персонала, предназначенный для управления различными процессами в рамках технологического процесса.</td>
												<td>от <strong>$1500</strong></td>
												<td>от 7 дней</td>
											</tr>
											<tr>
												<td><h4>Программирование ПЛК и SCADA-системы</h4></td>
												<td>Автоматизированная система управления (сокращённо АСУ) — комплекс аппаратных и программных средств</td>
												<td>от <strong>$1200</strong></td>
												<td>от 10 дней</td>
											</tr>
											<tr>
												<td><h4>Проработка технических решений</h4></td>
												<td>Комплекс аппаратных и программных средств, а также персонала, предназначенный для управления различными процессами в рамках</td>
												<td>от <strong>$2500</strong></td>
												<td>от 21 дня</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>