<div class="edu-confirm">
	<div class="row">
		<div class="edu-confirm__main-col padding">
			<div class="edu-diploms-wrap d-flex flex-wrap">
				<div class="edu-diploms__col edu-diploms-carousel owl-carousel owl-theme">
					<a href="script;" data-fancybox="diploms" data-src="images/diplom1.jpg">
						<img src="images/diplom1.jpg" alt="">
						<span>Диплом, стр.2</span>
					</a>
					<a href="script;" data-fancybox="diploms" data-src="images/diplom1.jpg">
						<img src="images/diplom1.jpg" alt="">
						<span>Диплом, стр.2</span>
					</a>
					<a href="script;" data-fancybox="diploms" data-src="images/diplom1.jpg">
						<img src="images/diplom1.jpg" alt="">
						<span>Диплом, стр.2</span>
					</a>
				</div>
				<div class="edu-diploms__col edu-diploms-dots"></div>
			</div>
		</div>
		<div class="edu-confirm__main-col edu-confirm__main-col_large padding">
			<div class="edu-confirm__descr mb-30">
				<div class="edu-confirm__descr-title title mb-20 position-relative">
					<h2>МГУ (Мюнхенский Государственный Университет)</h2>
					<div class="title__logo mb-10">
						<img src="images/title-logo.jpg" alt="">
					</div>
				</div>
				<div class="edu-confirm__country">
					<div class="icon-svg icon-svg_flag-de"></div>
					<span>Мюнхен, Германия</span>
				</div>
				<div>
					<strong>Дата обучения:</strong>
					<span>08.1980 - 08.1984</span>
				</div>
				<div>
					<strong>Форма:</strong>
					<span>Бакалавриат (4 года)</span>
				</div>
				<div>
					<strong>Кафедра:</strong>
					<span>Техническая</span>
				</div>
				<div>
					<strong>Факультет:</strong>
					<span>Инженерный</span>
				</div>
				<div>
					<strong>Тема дипломной работы:</strong>
					<span>Сопротивление тензодатчиков</span>
				</div>
				<div>
					<strong>Специальность</strong>
					<span>Тензодатчики</span>
				</div>
			</div>
			<div class="skill-item">
				<div class="title">
					<h3>Дополнительные сведения: </h3>
				</div>
				<ul class="list-clr skill-item__simple-list mb-30">
					<li>Поступил в университет по красному диплому</li>
					<li>Был старостой группы</li>
					<li>Проходил учебную практику в Porshe</li>
					<li>Дополнительно изучал арабский язык</li>
				</ul>
			</div>
			<div class="edu-confirm__confirmed d-flex align-items-center">
				<div class="icon-outer icon-outer_circle icon-outer_circle_green mr-10">
					<div class="icon icon-check-green"></div>
				</div>
				<span>Данные проверены</span>
			</div>
		</div>
	</div>
</div>