<div class="task-response__comments">
	<div class="task-response__comment comment">
		<div class="comment__head row mb-20">
			<div class="comment__user user-wrap col-lg-4 col-xl-4">
				<div class="user-wrap__row row">
					<div class="user-wrap__col">
						<div class="user user_large">
							<div class="user__img-wrap">
								<img src="images/engineer4.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="user-wrap__col">
						<div class="user-wrap__title title">
							<h3>Марк Саган</h3>
							<div>Отзывы: <span class="rate"><span class="rate__positive">+30</span> / <span class="rate__negative">-0</span></span></div>
							<div>Специализация: Весовые схемы</div>
							<div>Москва, Россия (110 км от вас)</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-xl-8">
				<div class="comment__head-btns row justify-content-md-end">
					<a href="#" class="button-border button-border_grey_dark button-border_hover_yellow mb-10 active">
						<span class="icon icon-user-orange mr-10 align-middle"></span>
						<span>Потенциальный</span>
					</a>
					<a href="#" class="button-border button-border_grey_dark button-border_hover_green mb-10">
						<span class="icon icon-user-green mr-10 align-middle"></span>
						<span>Испонитель</span>
					</a>
					<a href="#" class="button-border button-border_grey_dark button-border_hover_red mb-10">
						<span class="icon icon-user-red mr-10 align-middle"></span>
						<span>Отказ</span>
					</a>
				</div>
				<div class="comment__note-link text-md-right">
					<a href="#">
						<span class="icon icon-pen-green align-middle mr-5"></span>
						<span>Добавить заметку</span>
					</a>
				</div>
			</div>
		</div>
		<div class="comment__message mb-10">
			<div class="comment__message-item">
				<div class="comment__message-head">
					<div class="comment__message-user user-wrap">
						<div class="user-wrap__row row">
							<div class="user-wrap__col">
								<div class="user user_medium">
									<div class="user__img-wrap"><img src="images/engineer4.jpg" alt=""></div>
								</div>
							</div>
							<div class="user-wrap__col">
								<div class="user-wrap__title title">
									<h3>Марк Саган</h3>
									<div>19.07.2018 15:28</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="comment__message-content last-mb-cancel">
					<p>Здравствуйте, предоставьте пожалуйста дополнительные материалы к вашей задачи.</p>
				</div>
			</div>
		</div>
		<div class="comment__foot text-right">
			<a href="#" class="button-border button-border_green_background button-border_green_background_hover">Ответить</a>
		</div>
	</div>
	<div class="task-response__comment comment">
		<div class="comment__head row mb-20">
			<div class="comment__user user-wrap col-lg-4 col-xl-4">
				<div class="user-wrap__row row">
					<div class="user-wrap__col">
						<div class="user user_large">
							<div class="user__img-wrap">
								<img src="images/engineerCom.png" alt="">
							</div>
						</div>
					</div>
					<div class="user-wrap__col">
						<div class="user-wrap__title title">
							<h3>Карл Фишер</h3>
							<div>Отзывы: <span class="rate"><span class="rate__positive">+24</span> / <span class="rate__negative">-2</span></span></div>
							<div>Специализация: Весовые схемы</div>
							<div>Москва, Россия (110 км от вас)</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-xl-8">
				<div class="comment__head-btns row justify-content-md-end">
					<a href="#" class="button-border button-border_grey_dark button-border_hover_yellow mb-10">
						<span class="icon icon-user-orange mr-10 align-middle"></span>
						<span>Потенциальный</span>
					</a>
					<a href="#" class="button-border button-border_grey_dark button-border_hover_green mb-10">
						<span class="icon icon-user-green mr-10 align-middle"></span>
						<span>Испонитель</span>
					</a>
					<a href="#" class="button-border button-border_grey_dark button-border_hover_red mb-10 active">
						<span class="icon icon-user-red mr-10 align-middle"></span>
						<span>Отказ</span>
					</a>
				</div>
				<div class="comment__note-link text-md-right">
					<a href="#">
						<span class="icon icon-pen-green align-middle mr-5"></span>
						<span>Грубиян, общается неуважительно, проглядывется некомпетентность</span>
					</a>
				</div>
			</div>
		</div>
		<div class="comment__message mb-10">
			<div class="comment__message-item">
				<div class="comment__message-head">
					<div class="comment__message-user user-wrap">
						<div class="user-wrap__row row">
							<div class="user-wrap__col">
								<div class="user user_medium">
									<div class="user__img-wrap"><img src="images/engineerCom.png" alt=""></div>
								</div>
							</div>
							<div class="user-wrap__col">
								<div class="user-wrap__title title">
									<h3>Карл Фишер</h3>
									<div>19.07.2018 15:28</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="comment__message-content last-mb-cancel">
					<p>Здравствуйте, предоставьте пожалуйста дополнительные материалы к вашей задачи.</p>
				</div>
			</div>
			<div class="comment__message-item">
				<div class="comment__message-head">
					<div class="comment__message-user user-wrap">
						<div class="user-wrap__row row">
							<div class="user-wrap__col">
								<div class="user user_medium">
									<div class="user__img-wrap"><img src="images/customerImg.png" alt=""></div>
								</div>
							</div>
							<div class="user-wrap__col">
								<div class="user-wrap__title title">
									<h3>Герхард Шредер</h3>
									<div>19.07.2018 16:45</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="comment__message-content last-mb-cancel">
					<p>Гавно вопрос. Прикрепил все необходимое.</p>
					<div class="comment__uploaded-files uploaded-files last-mb-cancel">
						<div class="uploaded-files__in d-flex flex-wrap">
							<div class="uploaded-files__item padding mb-10">
								<div class="preview-link preview-link_radius">
									<img src="images/uploaded1.jpg" alt="">
									<div>Фото документа 1.jpg</div>
								</div>
							</div>
							<div class="uploaded-files__item padding mb-10">
								<div class="preview-link preview-link_radius">
									<img src="images/uploaded2.jpg" alt="">
									<div>Фото документа 2.jpg</div>
								</div>
							</div>
							<div class="uploaded-files__item padding mb-10">
								<div class="preview-link preview-link_radius">
									<img src="images/uploaded3.jpg" alt="">
									<div>Техзадание.doc</div>
								</div>
							</div>
						</div>
						<a href="#" class="uploaded-files__archieve">
							<span class="icon icon-archieve-green align-middle"></span>
							<span>Скачать одним архивом</span>
						</a>
					</div>
				</div>
			</div>
			<div class="comment__message-item">
				<div class="comment__message-head">
					<div class="comment__message-user user-wrap">
						<div class="user-wrap__row row">
							<div class="user-wrap__col">
								<div class="user user_medium">
									<div class="user__img-wrap"><img src="images/engineerCom.png" alt=""></div>
								</div>
							</div>
							<div class="user-wrap__col">
								<div class="user-wrap__title title">
									<h3>Карл Фишер</h3>
									<div>19.07.2018 15:28</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="comment__message-content last-mb-cancel">
					<p>От души душевно в душу.</p>
				</div>
			</div>
		</div>
		<div class="comment__foot text-right">
			<textarea class="textarea">Добрый день, пожалуйста.</textarea>
			<a href="#" class="button-border button-border_green_background button-border_green_background_hover">Ответить</a>
		</div>
	</div>
</div>