<div class="team-section">
	<div class="row">
		<div class="tab-content__sidebar col-lg-4 col-xl-3">
			<div class="nav-sidebar nav-sidebar_without_icons sidebar-stick nav-sidebar-spy">
				<ul class="list-clr nav nav-pills">
					<li class="nav-item">
						<a href="#id1" class="nav-link active">
							<span>Старшие инженеры</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id2" class="nav-link">
							<span>Младшие инженеры</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#id3" class="nav-link">
							<span>Стажеры</span>
							<span class="caret caret_right_grey"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="tab-content__main col-lg-8 col-xl-9">
			<div class="team-section__tab-item tab-content-item team-item" id="id1">
				<div class="team-item__title title title_border">
					<h2>Старшие инженерны</h2>
				</div>
				<div class="favourites-section__engineers row">
					<div class="favourites-section__engineer col-md-6">
						<div class="engineer-item">
							<div class="engineer-item__head">
								<div class="row">
									<div class="engineer-item__head-col">
										<div class="engineer-item__img-wrap" style="background-image: url(images/engineer2.jpg);"></div>
									</div>
									<div class="engineer-item__head-col engineer-item__head-col_large ">
										<div class="engineer-item__title row d-block d-sm-flex justify-content-between align-items-center">
											<h3>Вольфганг Миллер</h3>
											<div class="padding">
												<span class="engineer-item__status active mr-15">Online</span>
												<button class="favourite-button button-clr align-middle">
													<span class="icon icon-star"></span>
												</button>
											</div>
										</div>
										<div class="engineer-item__info">
											<div>
												<span class="icon icon-de align-middle mr-10"></span>
												<span>Веймар, Германия</span>
											</div>
											<div>
												<strong>Возраст: </strong>
												<span>59 лет</span>
											</div>
											<div>
												<strong>Трудовой опыт: </strong>
												<span>36 лет</span>
											</div>
											<div>
												<strong>Отзывы: </strong>
												<span class="rate">
													<span class="rate__positive">+45</span> / 0
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="engineer-item__details">
								<div class="row">
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__descr">Специализация: </div>
										<div class="engineer-item__list engineer-about">
											<ul class="engineer-about__list list-clr">
												<li>
													<div class="d-flex justify-content-between align-items-center">
														<span>Весовые измерения</span>
														<span>1-й</span>
													</div>
													<ul class="list-clr">
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>2-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>3-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>4-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>5-й</span>
															</div>
														</li>
													</ul>
													<button type="button" class="engineer-about__more more button-clr">ещё 26 »</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__more">
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Часовая ставка</span>
												<strong><sup>$</sup> 150</strong>
											</div>
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Рейтинг</span>
												<span>
													<img src="images/stars.png" alt="">
												</span>
											</div>
											<a href="#" class="button-border button-border_green button-border_green_background_hover w-100">Посмотреть профиль</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="favourites-section__engineer col-md-6">
						<div class="engineer-item">
							<div class="engineer-item__head">
								<div class="row">
									<div class="engineer-item__head-col">
										<div class="engineer-item__img-wrap" style="background-image: url(images/engineer3.jpg);"></div>
									</div>
									<div class="engineer-item__head-col engineer-item__head-col_large ">
										<div class="engineer-item__title row d-block d-sm-flex justify-content-between align-items-center">
											<h3>Клаус Шмидт</h3>
											<div class="padding">
												<span class="engineer-item__status mr-15">2 days ago</span>
												<button class="favourite-button button-clr align-middle">
													<span class="icon icon-star"></span>
												</button>
											</div>
										</div>
										<div class="engineer-item__info">
											<div>
												<span class="icon icon-de align-middle mr-10"></span>
												<span>Веймар, Германия</span>
											</div>
											<div>
												<strong>Возраст: </strong>
												<span>59 лет</span>
											</div>
											<div>
												<strong>Трудовой опыт: </strong>
												<span>36 лет</span>
											</div>
											<div>
												<strong>Отзывы: </strong>
												<span class="rate">
													<span class="rate__positive">+34</span> / <span class="rate__negative">-1</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="engineer-item__details">
								<div class="row">
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__descr">Специализация: </div>
										<div class="engineer-item__list engineer-about">
											<ul class="engineer-about__list list-clr">
												<li>
													<div class="d-flex justify-content-between align-items-center">
														<span>Весовые измерения</span>
														<span>1-й</span>
													</div>
													<ul class="list-clr">
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>2-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>3-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>4-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>5-й</span>
															</div>
														</li>
													</ul>
													<button type="button" class="engineer-about__more more button-clr">ещё 26 »</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__more">
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Часовая ставка</span>
												<strong><sup>$</sup> 150</strong>
											</div>
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Рейтинг</span>
												<span>
													<img src="images/stars.png" alt="">
												</span>
											</div>
											<a href="#" class="button-border button-border_green button-border_green_background_hover w-100">Посмотреть профиль</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="favourites-section__engineer col-md-6">
						<div class="engineer-item">
							<div class="engineer-item__head">
								<div class="row">
									<div class="engineer-item__head-col">
										<div class="engineer-item__img-wrap" style="background-image: url(images/engineer4.jpg);"></div>
									</div>
									<div class="engineer-item__head-col engineer-item__head-col_large ">
										<div class="engineer-item__title row d-block d-sm-flex justify-content-between align-items-center">
											<h3>Андреас Майзингер</h3>
											<div class="padding">
												<span class="engineer-item__status active mr-15">Online</span>
												<button class="favourite-button button-clr align-middle">
													<span class="icon icon-star"></span>
												</button>
											</div>
										</div>
										<div class="engineer-item__info">
											<div>
												<span class="icon icon-de align-middle mr-10"></span>
												<span>Веймар, Германия</span>
											</div>
											<div>
												<strong>Возраст: </strong>
												<span>59 лет</span>
											</div>
											<div>
												<strong>Трудовой опыт: </strong>
												<span>36 лет</span>
											</div>
											<div>
												<strong>Отзывы: </strong>
												<span class="rate">
													<span class="rate__positive">+45</span> / 0
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="engineer-item__details">
								<div class="row">
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__descr">Специализация: </div>
										<div class="engineer-item__list engineer-about">
											<ul class="engineer-about__list list-clr">
												<li>
													<div class="d-flex justify-content-between align-items-center">
														<span>Весовые измерения</span>
														<span>1-й</span>
													</div>
													<ul class="list-clr">
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>2-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>3-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>4-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>5-й</span>
															</div>
														</li>
													</ul>
													<button type="button" class="engineer-about__more more button-clr">ещё 26 »</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__more">
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Часовая ставка</span>
												<strong><sup>$</sup> 150</strong>
											</div>
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Рейтинг</span>
												<span>
													<img src="images/stars.png" alt="">
												</span>
											</div>
											<a href="#" class="button-border button-border_green button-border_green_background_hover w-100">Посмотреть профиль</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="team-section__tab-item tab-content-item team-item" id="id2">
				<div class="team-item__title title title_border">
					<h2>Младшие инженерны</h2>
				</div>
				<div class="favourites-section__engineers row">
					<div class="favourites-section__engineer col-md-6">
						<div class="engineer-item">
							<div class="engineer-item__head">
								<div class="row">
									<div class="engineer-item__head-col">
										<div class="engineer-item__img-wrap" style="background-image: url(images/engineer1.jpg);"></div>
									</div>
									<div class="engineer-item__head-col engineer-item__head-col_large ">
										<div class="engineer-item__title row d-block d-sm-flex justify-content-between align-items-center">
											<h3>Карл Укралберг</h3>
											<div class="padding">
												<span class="engineer-item__status mr-15">1 days ago</span>
												<button class="favourite-button button-clr align-middle">
													<span class="icon icon-star"></span>
												</button>
											</div>
										</div>
										<div class="engineer-item__info">
											<div>
												<span class="icon icon-de align-middle mr-10"></span>
												<span>Веймар, Германия</span>
											</div>
											<div>
												<strong>Возраст: </strong>
												<span>59 лет</span>
											</div>
											<div>
												<strong>Трудовой опыт: </strong>
												<span>36 лет</span>
											</div>
											<div>
												<strong>Отзывы: </strong>
												<span class="rate">
													<span class="rate__positive">+45</span> / 0
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="engineer-item__details">
								<div class="row">
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__descr">Специализация: </div>
										<div class="engineer-item__list engineer-about">
											<ul class="engineer-about__list list-clr">
												<li>
													<div class="d-flex justify-content-between align-items-center">
														<span>Весовые измерения</span>
														<span>1-й</span>
													</div>
													<ul class="list-clr">
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>2-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>3-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>4-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>5-й</span>
															</div>
														</li>
													</ul>
													<button type="button" class="engineer-about__more more button-clr">ещё 26 »</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__more">
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Часовая ставка</span>
												<strong><sup>$</sup> 150</strong>
											</div>
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Рейтинг</span>
												<span>
													<img src="images/stars.png" alt="">
												</span>
											</div>
											<a href="#" class="button-border button-border_green button-border_green_background_hover w-100">Посмотреть профиль</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="favourites-section__engineer col-md-6">
						<div class="engineer-item">
							<div class="engineer-item__head">
								<div class="row">
									<div class="engineer-item__head-col">
										<div class="engineer-item__img-wrap" style="background-image: url(images/engineer7.png);"></div>
									</div>
									<div class="engineer-item__head-col engineer-item__head-col_large ">
										<div class="engineer-item__title row d-block d-sm-flex justify-content-between align-items-center">
											<h3>Витольд Кайзер</h3>
											<div class="padding">
												<span class="engineer-item__status mr-15">2 days ago</span>
												<button class="favourite-button button-clr align-middle">
													<span class="icon icon-star"></span>
												</button>
											</div>
										</div>
										<div class="engineer-item__info">
											<div>
												<span class="icon icon-de align-middle mr-10"></span>
												<span>Веймар, Германия</span>
											</div>
											<div>
												<strong>Возраст: </strong>
												<span>59 лет</span>
											</div>
											<div>
												<strong>Трудовой опыт: </strong>
												<span>36 лет</span>
											</div>
											<div>
												<strong>Отзывы: </strong>
												<span class="rate">
													<span class="rate__positive">+34</span> / <span class="rate__negative">-1</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="engineer-item__details">
								<div class="row">
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__descr">Специализация: </div>
										<div class="engineer-item__list engineer-about">
											<ul class="engineer-about__list list-clr">
												<li>
													<div class="d-flex justify-content-between align-items-center">
														<span>Весовые измерения</span>
														<span>1-й</span>
													</div>
													<ul class="list-clr">
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>2-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>3-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>4-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>5-й</span>
															</div>
														</li>
													</ul>
													<button type="button" class="engineer-about__more more button-clr">ещё 26 »</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__more">
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Часовая ставка</span>
												<strong><sup>$</sup> 150</strong>
											</div>
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Рейтинг</span>
												<span>
													<img src="images/stars.png" alt="">
												</span>
											</div>
											<a href="#" class="button-border button-border_green button-border_green_background_hover w-100">Посмотреть профиль</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="favourites-section__engineer col-md-6">
						<div class="engineer-item">
							<div class="engineer-item__head">
								<div class="row">
									<div class="engineer-item__head-col">
										<div class="engineer-item__img-wrap" style="background-image: url(images/engineer8.png);"></div>
									</div>
									<div class="engineer-item__head-col engineer-item__head-col_large ">
										<div class="engineer-item__title row d-block d-sm-flex justify-content-between align-items-center">
											<h3>Ганс Андерсен</h3>
											<div class="padding">
												<span class="engineer-item__status mr-15">1 week ago</span>
												<button class="favourite-button button-clr align-middle">
													<span class="icon icon-star"></span>
												</button>
											</div>
										</div>
										<div class="engineer-item__info">
											<div>
												<span class="icon icon-de align-middle mr-10"></span>
												<span>Веймар, Германия</span>
											</div>
											<div>
												<strong>Возраст: </strong>
												<span>59 лет</span>
											</div>
											<div>
												<strong>Трудовой опыт: </strong>
												<span>36 лет</span>
											</div>
											<div>
												<strong>Отзывы: </strong>
												<span class="rate">
													<span class="rate__positive">+45</span> / 0
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="engineer-item__details">
								<div class="row">
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__descr">Специализация: </div>
										<div class="engineer-item__list engineer-about">
											<ul class="engineer-about__list list-clr">
												<li>
													<div class="d-flex justify-content-between align-items-center">
														<span>Весовые измерения</span>
														<span>1-й</span>
													</div>
													<ul class="list-clr">
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>2-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>3-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>4-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>5-й</span>
															</div>
														</li>
													</ul>
													<button type="button" class="engineer-about__more more button-clr">ещё 26 »</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__more">
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Часовая ставка</span>
												<strong><sup>$</sup> 150</strong>
											</div>
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Рейтинг</span>
												<span>
													<img src="images/stars.png" alt="">
												</span>
											</div>
											<a href="#" class="button-border button-border_green button-border_green_background_hover w-100">Посмотреть профиль</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="favourites-section__engineer col-md-6">
						<div class="engineer-item">
							<div class="engineer-item__head">
								<div class="row">
									<div class="engineer-item__head-col">
										<div class="engineer-item__img-wrap" style="background-image: url(images/engineer9.png);"></div>
									</div>
									<div class="engineer-item__head-col engineer-item__head-col_large ">
										<div class="engineer-item__title row d-block d-sm-flex justify-content-between align-items-center">
											<h3>Волдемар Шефер</h3>
											<div class="padding">
												<span class="engineer-item__status mr-15">2 days ago</span>
												<button class="favourite-button button-clr align-middle">
													<span class="icon icon-star"></span>
												</button>
											</div>
										</div>
										<div class="engineer-item__info">
											<div>
												<span class="icon icon-de align-middle mr-10"></span>
												<span>Веймар, Германия</span>
											</div>
											<div>
												<strong>Возраст: </strong>
												<span>59 лет</span>
											</div>
											<div>
												<strong>Трудовой опыт: </strong>
												<span>36 лет</span>
											</div>
											<div>
												<strong>Отзывы: </strong>
												<span class="rate">
													<span class="rate__positive">+34</span> / <span class="rate__negative">-1</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="engineer-item__details">
								<div class="row">
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__descr">Специализация: </div>
										<div class="engineer-item__list engineer-about">
											<ul class="engineer-about__list list-clr">
												<li>
													<div class="d-flex justify-content-between align-items-center">
														<span>Весовые измерения</span>
														<span>1-й</span>
													</div>
													<ul class="list-clr">
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>2-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>3-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>4-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>5-й</span>
															</div>
														</li>
													</ul>
													<button type="button" class="engineer-about__more more button-clr">ещё 26 »</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__more">
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Часовая ставка</span>
												<strong><sup>$</sup> 150</strong>
											</div>
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Рейтинг</span>
												<span>
													<img src="images/stars.png" alt="">
												</span>
											</div>
											<a href="#" class="button-border button-border_green button-border_green_background_hover w-100">Посмотреть профиль</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="favourites-section__engineer col-md-6">
						<div class="engineer-item">
							<div class="engineer-item__head">
								<div class="row">
									<div class="engineer-item__head-col">
										<div class="engineer-item__img-wrap" style="background-image: url(images/engineer10.png);"></div>
									</div>
									<div class="engineer-item__head-col engineer-item__head-col_large ">
										<div class="engineer-item__title row d-block d-sm-flex justify-content-between align-items-center">
											<h3>Анселл Штарк</h3>
											<div class="padding">
												<span class="engineer-item__status mr-15">2 days ago</span>
												<button class="favourite-button button-clr align-middle">
													<span class="icon icon-star"></span>
												</button>
											</div>
										</div>
										<div class="engineer-item__info">
											<div>
												<span class="icon icon-de align-middle mr-10"></span>
												<span>Веймар, Германия</span>
											</div>
											<div>
												<strong>Возраст: </strong>
												<span>59 лет</span>
											</div>
											<div>
												<strong>Трудовой опыт: </strong>
												<span>36 лет</span>
											</div>
											<div>
												<strong>Отзывы: </strong>
												<span class="rate">
													<span class="rate__positive">+45</span> / 0
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="engineer-item__details">
								<div class="row">
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__descr">Специализация: </div>
										<div class="engineer-item__list engineer-about">
											<ul class="engineer-about__list list-clr">
												<li>
													<div class="d-flex justify-content-between align-items-center">
														<span>Весовые измерения</span>
														<span>1-й</span>
													</div>
													<ul class="list-clr">
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>2-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>3-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>4-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>5-й</span>
															</div>
														</li>
													</ul>
													<button type="button" class="engineer-about__more more button-clr">ещё 26 »</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__more">
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Часовая ставка</span>
												<strong><sup>$</sup> 150</strong>
											</div>
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Рейтинг</span>
												<span>
													<img src="images/stars.png" alt="">
												</span>
											</div>
											<a href="#" class="button-border button-border_green button-border_green_background_hover w-100">Посмотреть профиль</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="team-section__tab-item tab-content-item team-item" id="id3">
				<div class="team-item__title title title_border">
					<h2>Стажёры</h2>
				</div>
				<div class="favourites-section__engineers row">
					<div class="favourites-section__engineer col-md-6">
						<div class="engineer-item">
							<div class="engineer-item__head">
								<div class="row">
									<div class="engineer-item__head-col">
										<div class="engineer-item__img-wrap" style="background-image: url(images/engineer11.png);"></div>
									</div>
									<div class="engineer-item__head-col engineer-item__head-col_large ">
										<div class="engineer-item__title row d-block d-sm-flex justify-content-between align-items-center">
											<h3>Гоц Кауфманн</h3>
											<div class="padding">
												<span class="engineer-item__status active mr-15">Online</span>
												<button class="favourite-button button-clr align-middle">
													<span class="icon icon-star"></span>
												</button>
											</div>
										</div>
										<div class="engineer-item__info">
											<div>
												<span class="icon icon-de align-middle mr-10"></span>
												<span>Веймар, Германия</span>
											</div>
											<div>
												<strong>Возраст: </strong>
												<span>59 лет</span>
											</div>
											<div>
												<strong>Трудовой опыт: </strong>
												<span>36 лет</span>
											</div>
											<div>
												<strong>Отзывы: </strong>
												<span class="rate">
													<span class="rate__positive">+45</span> / 0
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="engineer-item__details">
								<div class="row">
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__descr">Специализация: </div>
										<div class="engineer-item__list engineer-about">
											<ul class="engineer-about__list list-clr">
												<li>
													<div class="d-flex justify-content-between align-items-center">
														<span>Весовые измерения</span>
														<span>1-й</span>
													</div>
													<ul class="list-clr">
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>2-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>3-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>4-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>5-й</span>
															</div>
														</li>
													</ul>
													<button type="button" class="engineer-about__more more button-clr">ещё 26 »</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__more">
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Часовая ставка</span>
												<strong><sup>$</sup> 150</strong>
											</div>
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Рейтинг</span>
												<span>
													<img src="images/stars.png" alt="">
												</span>
											</div>
											<a href="#" class="button-border button-border_green button-border_green_background_hover w-100">Посмотреть профиль</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="favourites-section__engineer col-md-6">
						<div class="engineer-item">
							<div class="engineer-item__head">
								<div class="row">
									<div class="engineer-item__head-col">
										<div class="engineer-item__img-wrap" style="background-image: url(images/engineer12.png);"></div>
									</div>
									<div class="engineer-item__head-col engineer-item__head-col_large ">
										<div class="engineer-item__title row d-block d-sm-flex justify-content-between align-items-center">
											<h3>Джулиан Шефер</h3>
											<div class="padding">
												<span class="engineer-item__status mr-15">2 days ago</span>
												<button class="favourite-button button-clr align-middle">
													<span class="icon icon-star"></span>
												</button>
											</div>
										</div>
										<div class="engineer-item__info">
											<div>
												<span class="icon icon-de align-middle mr-10"></span>
												<span>Веймар, Германия</span>
											</div>
											<div>
												<strong>Возраст: </strong>
												<span>59 лет</span>
											</div>
											<div>
												<strong>Трудовой опыт: </strong>
												<span>36 лет</span>
											</div>
											<div>
												<strong>Отзывы: </strong>
												<span class="rate">
													<span class="rate__positive">+34</span> / <span class="rate__negative">-1</span>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="engineer-item__details">
								<div class="row">
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__descr">Специализация: </div>
										<div class="engineer-item__list engineer-about">
											<ul class="engineer-about__list list-clr">
												<li>
													<div class="d-flex justify-content-between align-items-center">
														<span>Весовые измерения</span>
														<span>1-й</span>
													</div>
													<ul class="list-clr">
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>2-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>3-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензодатчики</span>
																<span>4-й</span>
															</div>
														</li>
														<li>
															<div class="d-flex justify-content-between align-items-center">
																<span>Тензорезисторы</span>
																<span>5-й</span>
															</div>
														</li>
													</ul>
													<button type="button" class="engineer-about__more more button-clr">ещё 26 »</button>
												</li>
											</ul>
										</div>
									</div>
									<div class="engineer-item__details-col col-xl-6">
										<div class="engineer-item__more">
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Часовая ставка</span>
												<strong><sup>$</sup> 150</strong>
											</div>
											<div class="d-flex flex-wrap align-items-center justify-content-between">
												<span>Рейтинг</span>
												<span>
													<img src="images/stars.png" alt="">
												</span>
											</div>
											<a href="#" class="button-border button-border_green button-border_green_background_hover w-100">Посмотреть профиль</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>