@font-face {
	font-family: 'sfuidisplay';
	src: url('../fonts/sfuidisplay-light/sfuidisplay-light.eot');
	src: url('../fonts/sfuidisplay-light/sfuidisplay-light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sfuidisplay-light/sfuidisplay-light.woff') format('woff'),
		 url('../fonts/sfuidisplay-light/sfuidisplay-light.ttf') format('truetype'),
		 url('../fonts/sfuidisplay-light/sfuidisplay-light.svg#sfuidisplay') format('svg');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'sfuidisplay';
	src: url('../fonts/sfuidisplay-regular/sfuidisplay-regular.eot');
	src: url('../fonts/sfuidisplay-regular/sfuidisplay-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sfuidisplay-regular/sfuidisplay-regular.woff') format('woff'),
		 url('../fonts/sfuidisplay-regular/sfuidisplay-regular.ttf') format('truetype'),
		 url('../fonts/sfuidisplay-regular/sfuidisplay-regular.svg#sfuidisplay') format('svg');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'sfuidisplay';
	src: url('../fonts/sfuidisplay-medium/sfuidisplay-medium.eot');
	src: url('../fonts/sfuidisplay-medium/sfuidisplay-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sfuidisplay-medium/sfuidisplay-medium.woff') format('woff'),
		 url('../fonts/sfuidisplay-medium/sfuidisplay-medium.ttf') format('truetype'),
		 url('../fonts/sfuidisplay-medium/sfuidisplay-medium.svg#sfuidisplay') format('svg');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'sfuidisplay';
	src: url('../fonts/sfuidisplay-bold/sfuidisplay-bold.eot');
	src: url('../fonts/sfuidisplay-bold/sfuidisplay-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sfuidisplay-bold/sfuidisplay-bold.woff') format('woff'),
		 url('../fonts/sfuidisplay-bold/sfuidisplay-bold.ttf') format('truetype'),
		 url('../fonts/sfuidisplay-bold/sfuidisplay-bold.svg#sfuidisplay') format('svg');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'sfuidisplay';
	src: url('../fonts/sfuidisplay-heavy/sfuidisplay-heavy.eot');
	src: url('../fonts/sfuidisplay-heavy/sfuidisplay-heavy.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sfuidisplay-heavy/sfuidisplay-heavy.woff') format('woff'),
		 url('../fonts/sfuidisplay-heavy/sfuidisplay-heavy.ttf') format('truetype'),
		 url('../fonts/sfuidisplay-heavy/sfuidisplay-heavy.svg#sfuidisplay') format('svg');
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: 'sfuidisplay';
	src: url('../fonts/sfuidisplay-semibold/sfuidisplay-semibold.eot');
	src: url('../fonts/sfuidisplay-semibold/sfuidisplay-semibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/sfuidisplay-semibold/sfuidisplay-semibold.woff') format('woff'),
		 url('../fonts/sfuidisplay-semibold/sfuidisplay-semibold.ttf') format('truetype'),
		 url('../fonts/sfuidisplay-semibold/sfuidisplay-semibold.svg#sfuidisplay') format('svg');
	font-style: normal;
	font-weight: 600;
}