// float clear
// ===============

@mixin clearfix() {
	&:before, &:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

// =============================================
// =============================================

/* миксин для списков*/
// ===============

// =============================================
// =============================================

// placeholder
// ===============


@mixin iph {
	&.placeholder {
		@content; 
	}
	&:-moz-placeholder {
		@content; 
	}
	&::-moz-placeholder {
		@content; 
	}
	&:-ms-input-placeholder {
		@content; 
	}
	&::-webkit-input-placeholder {
		@content; 
	}
}

// =============================================
// =============================================



