img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #333;
	&:hover {
		color: #333;
	}
	&:focus {
		outline: none;
	}
}
html {
	
}
body {
	font-family: $font;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.15;
	color: #333;
	background-color: #f6f7f9;
}
.container {
	@media only screen and(min-width: 1530px) {
		max-width: 1530px;
	}
	@include xl() {
		max-width: 100%;
	}
	@include lg() {
		max-width: 100%;
	}
	@include md() {
		max-width: 100%;
	}
	@include sm() {
		max-width: 100%;
	}
}
.container__in {
	padding: 26px 30px 40px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	@include msm() {
		padding: 20px 15px;
	}
}
.font_400 {
	font-weight: 400 !important;
}
.col-default {
	flex: 0 1 auto;
	max-width: none;
	width: auto;
}
.col-sm-default {
	@include sm() {
		flex: 0 1 auto;
		max-width: none;
		width: auto;
	}
}
.col-md-default {
	@include md() {
		flex: 0 1 auto;
		max-width: none;
		width: auto;
	}
}
.col-lg-default {
	@include lg() {
		flex: 0 1 auto;
		max-width: none;
		width: auto;
	}
}
.col-xl-default {
	@include xl() {
		flex: 0 1 auto;
		max-width: none;
		width: auto;
	}
}



strong {
	// font-weight: 700;
	// color: #000;
}

.table-wrap {
	overflow: auto;
}
.padding {
	padding-left: 15px;
	padding-right: 15px;
}
.list-clr {
	padding: 0;
	margin: 0;
	list-style: none;
}
.color-red {
	color: #ff006c !important;
}
.color-red_dark {
	color: #b13b3b !important;
}
.color-grey {
	color: #999;
}
.hidden {
	display: none;
}
.hidden-sm {
	@include sm() {
		display: none;
	}
}
.hidden-md {
	@include md() {
		display: none;
	}
}
.hidden-lg {
	@include lg() {
		display: none;
	}
}
.hidden-xl {
	@include xl() {
		display: none;
	}
}
input, textarea {
	&:focus {
		outline: none;
	}
}
button, input[type="submit"] {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

.mb-0 {
	margin-bottom: 0;
}
.mb-sm-0 {
	@include sm() {
		margin-bottom: 0 !important;
	}
}
.mb-md-0 {
	@include md() {
		margin-bottom: 0 !important;
	}
}
.mb-lg-0 {
	@include lg() {
		margin-bottom: 0 !important;
	}
}
.mb-xl-0 {
	@include xl() {
		margin-bottom: 0 !important;
	}
}

.mb-5 {
	margin-bottom: 5px !important;
}
.mb-sm-5 {
	@include sm() {
		margin-bottom: 5px !important;
	}
}
.mb-md-5 {
	@include md() {
		margin-bottom: 5px !important;
	}
}
.mb-lg-5 {
	@include lg() {
		margin-bottom: 5px !important;
	}
}
.mb-xl-5 {
	@include xl() {
		margin-bottom: 5px !important;
	}
}

.mb-10 {
	margin-bottom: 10px;
}
.mb-sm-10 {
	@include sm() {
		margin-bottom: 10px !important;
	}
}
.mb-md-10 {
	@include md() {
		margin-bottom: 10px !important;
	}
}
.mb-lg-10 {
	@include lg() {
		margin-bottom: 10px !important;
	}
}
.mb-xl-10 {
	@include xl() {
		margin-bottom: 10px !important;
	}
}


.mb-20 {
	margin-bottom: 20px;
}
.mb-sm-20 {
	@include sm() {
		margin-bottom: 20px !important;
	}
}
.mb-md-20 {
	@include md() {
		margin-bottom: 20px !important;
	}
}
.mb-lg-20 {
	@include lg() {
		margin-bottom: 20px !important;
	}
}
.mb-xl-20 {
	@include xl() {
		margin-bottom: 20px !important;
	}
}

.mb-30 {
	margin-bottom: 30px;
}
.mb-sm-30 {
	@include sm() {
		margin-bottom: 30px !important;
	}
}
.mb-md-30 {
	@include md() {
		margin-bottom: 30px !important;
	}
}
.mb-lg-30 {
	@include lg() {
		margin-bottom: 30px !important;
	}
}
.mb-xl-30 {
	@include xl() {
		margin-bottom: 30px !important;
	}
}

.mb-40 {
	margin-bottom: 40px;
}
.mb-sm-40 {
	@include sm() {
		margin-bottom: 40px !important;
	}
}
.mb-md-40 {
	@include md() {
		margin-bottom: 40px !important;
	}
}
.mb-lg-40 {
	@include lg() {
		margin-bottom: 40px !important;
	}
}
.mb-xl-40 {
	@include xl() {
		margin-bottom: 40px !important;
	}
}

.mb-50 {
	margin-bottom: 50px;
}
.mb-sm-50 {
	@include sm() {
		margin-bottom: 50px !important;
	}
}
.mb-md-50 {
	@include md() {
		margin-bottom: 50px !important;
	}
}
.mb-lg-50 {
	@include lg() {
		margin-bottom: 50px !important;
	}
}
.mb-xl-50 {
	@include xl() {
		margin-bottom: 50px !important;
	}
}

.mt-0 {
	margin-top: 0;
}
.mt-sm-0 {
	@include sm() {
		margin-top: 0 !important;
	}
}
.mt-md-0 {
	@include md() {
		margin-top: 0 !important;
	}
}
.mt-lg-0 {
	@include lg() {
		margin-top: 0 !important;
	}
}
.mt-xl-0 {
	@include xl() {
		margin-top: 0 !important;
	}
}

.mt-10 {
	margin-top: 10px;
}
.mt-sm-10 {
	@include sm() {
		margin-top: 10px !important;
	}
}
.mt-md-10 {
	@include md() {
		margin-top: 10px !important;
	}
}
.mt-lg-10 {
	@include lg() {
		margin-top: 10px !important;
	}
}
.mt-xl-10 {
	@include xl() {
		margin-top: 10px !important;
	}
}


.mt-20 {
	margin-top: 20px;
}
.mt-sm-20 {
	@include sm() {
		margin-top: 20px !important;
	}
}
.mt-md-20 {
	@include md() {
		margin-top: 20px !important;
	}
}
.mt-lg-20 {
	@include lg() {
		margin-top: 20px !important;
	}
}
.mt-xl-20 {
	@include xl() {
		margin-top: 20px !important;
	}
}

.mt-30 {
	margin-top: 30px;
}
.mt-sm-30 {
	@include sm() {
		margin-top: 30px !important;
	}
}
.mt-md-30 {
	@include md() {
		margin-top: 30px !important;
	}
}
.mt-lg-30 {
	@include lg() {
		margin-top: 30px !important;
	}
}
.mt-xl-30 {
	@include xl() {
		margin-top: 30px !important;
	}
}




.background-center {
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.background-contain {
	background-size: contain;
}
.background-cover {
	background-size: cover;
}



.is_stuck {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		transition: linear .3s;
	}
}


.col-full-mob {
	@media only screen and(max-width: 400px) {
		flex: 0 0 100%;
		max-width: 100%;
	}
}


.mr-0 {
	margin-right: 0 !important;
}
.mr-sm-0 {
	@include sm() {
		margin-right: 0 !important;
	}
}
.mr-md-0 {
	@include md() {
		margin-right: 0 !important;
	}
}
.mr-lg-0 {
	@include lg() {
		margin-right: 0 !important;
	}
}
.mr-xl-0 {
	@include xl() {
		margin-right: 0 !important;
	}
}

.mr-5 {
	margin-right: 5px !important;
}
.mr-sm-5 {
	@include sm() {
		margin-right: 5px !important;
	}
}
.mr-md-5 {
	@include md() {
		margin-right: 5px !important;
	}
}
.mr-lg-5 {
	@include lg() {
		margin-right: 5px !important;
	}
}
.mr-xl-5 {
	@include xl() {
		margin-right: 5px !important;
	}
}

.mr-10 {
	margin-right: 10px !important;
}
.mr-sm-10 {
	@include sm() {
		margin-right: 10px !important;
	}
}
.mr-md-10 {
	@include md() {
		margin-right: 10px !important;
	}
}
.mr-lg-10 {
	@include lg() {
		margin-right: 10px !important;
	}
}
.mr-xl-10 {
	@include xl() {
		margin-right: 10px !important;
	}
}

.mr-15 {
	margin-right: 15px !important;
}
.mr-sm-15 {
	@include sm() {
		margin-right: 15px !important;
	}
}
.mr-md-15 {
	@include md() {
		margin-right: 15px !important;
	}
}
.mr-lg-15 {
	@include lg() {
		margin-right: 15px !important;
	}
}
.mr-xl-15 {
	@include xl() {
		margin-right: 15px !important;
	}
}

.mr-20 {
	margin-right: 20px !important;
}
.mr-sm-20 {
	@include sm() {
		margin-right: 20px !important;
	}
}
.mr-md-20 {
	@include md() {
		margin-right: 20px !important;
	}
}
.mr-lg-20 {
	@include lg() {
		margin-right: 20px !important;
	}
}
.mr-xl-20 {
	@include xl() {
		margin-right: 20px !important;
	}
}

.mr-30 {
	margin-right: 30px !important;
}
.mr-sm-30 {
	@include sm() {
		margin-right: 30px !important;
	}
}
.mr-md-30 {
	@include md() {
		margin-right: 30px !important;
	}
}
.mr-lg-30 {
	@include lg() {
		margin-right: 30px !important;
	}
}
.mr-xl-30 {
	@include xl() {
		margin-right: 30px !important;
	}
}


.ml-5 {
	margin-left: 5px !important;
}
.ml-sm-5 {
	@include sm() {
		margin-left: 5px !important;
	}
}
.ml-md-5 {
	@include md() {
		margin-left: 5px !important;
	}
}
.ml-lg-5 {
	@include lg() {
		margin-left: 5px !important;
	}
}
.ml-xl-5 {
	@include xl() {
		margin-left: 5px !important;
	}
}

.ml-10 {
	margin-left: 10px !important;
}
.ml-sm-10 {
	@include sm() {
		margin-left: 10px !important;
	}
}
.ml-md-10 {
	@include md() {
		margin-left: 10px !important;
	}
}
.ml-lg-10 {
	@include lg() {
		margin-left: 10px !important;
	}
}
.ml-xl-10 {
	@include xl() {
		margin-left: 10px !important;
	}
}

.ml-20 {
	margin-left: 20px !important;
}
.ml-sm-20 {
	@include sm() {
		margin-left: 20px !important;
	}
}
.ml-md-20 {
	@include md() {
		margin-left: 20px !important;
	}
}
.ml-lg-20 {
	@include lg() {
		margin-left: 20px !important;
	}
}
.ml-xl-20 {
	@include xl() {
		margin-left: 20px !important;
	}
}

.ml-30 {
	margin-left: 30px !important;
}
.ml-sm-30 {
	@include sm() {
		margin-left: 30px !important;
	}
}
.ml-md-30 {
	@include md() {
		margin-left: 30px !important;
	}
}
.ml-lg-30 {
	@include lg() {
		margin-left: 30px !important;
	}
}
.ml-xl-30 {
	@include xl() {
		margin-left: 30px !important;
	}
}



@-webkit-keyframes wheel {
  from {
    // -webkit-transform: scale3d(1, 1, 1) rotate(0);
	transform: scale3d(1, 1, 1) rotate(0);
  }
  to {
    // -webkit-transform: scale3d(1, 1, 1) rotate(360deg);
    transform: scale3d(1, 1, 1) rotate(360deg);
  }
}

.background_dark_blue {
	background-color: #191d28;
}
.background_white {
	background-color: #fff;
}
.background_beige {
	background-color: #f6f7f9;
}
.background_some-grey {
	background-color: #272f40;
}
.background_capability {
	background-color: #e9edf5;
}
.background_red_gradient {
	background: -webkit-linear-gradient(left, rgb(177, 59, 59) 0%, rgb(130, 24, 24) 100%);
	background: -o-linear-gradient(left, rgb(177, 59, 59) 0%, rgb(130, 24, 24) 100%);
	background: -ms-linear-gradient(left, rgb(177, 59, 59) 0%, rgb(130, 24, 24) 100%);
	background: -moz-linear-gradient(left, rgb(177, 59, 59) 0%, rgb(130, 24, 24) 100%);
	background: linear-gradient(to right, rgb(177, 59, 59) 0%, rgb(130, 24, 24) 100%);
}
.background_red {
	background-color: #aa2222;
}
.background_dark_light {
	background-color: #232a3a;
}
.pt-10 {
	padding-top: 10px !important;
}
.pt-sm-10 {
	@include sm() {
		padding-top: 10px !important;
	}
}
.pt-md-10 {
	@include md() {
		padding-top: 10px !important;
	}
}
.pt-lg-10 {
	@include lg() {
		padding-top: 10px !important;
	}
}
.pt-xl-10 {
	@include xl() {
		padding-top: 10px !important;
	}
}

.pt-20 {
	padding-top: 20px !important;
}
.pt-sm-20 {
	@include sm() {
		padding-top: 20px !important;
	}
}
.pt-md-20 {
	@include md() {
		padding-top: 20px !important;
	}
}
.pt-lg-20 {
	@include lg() {
		padding-top: 20px !important;
	}
}
.pt-xl-20 {
	@include xl() {
		padding-top: 20px !important;
	}
}
.pt-30 {
	padding-top: 30px !important;
}
.pt-sm-30 {
	@include sm() {
		padding-top: 30px !important;
	}
}
.pt-md-30 {
	@include md() {
		padding-top: 30px !important;
	}
}
.pt-lg-30 {
	@include lg() {
		padding-top: 30px !important;
	}
}
.pt-xl-30 {
	@include xl() {
		padding-top: 30px !important;
	}
}

.pb-10 {
	padding-bottom: 10px !important;
}
.pb-sm-10 {
	@include sm() {
		padding-bottom: 10px !important;
	}
}
.pb-md-10 {
	@include md() {
		padding-bottom: 10px !important;
	}
}
.pb-lg-10 {
	@include lg() {
		padding-bottom: 10px !important;
	}
}
.pb-xl-10 {
	@include xl() {
		padding-bottom: 10px !important;
	}
}

.pb-20 {
	padding-bottom: 20px !important;
}
.pb-sm-20 {
	@include sm() {
		padding-bottom: 20px !important;
	}
}
.pb-md-20 {
	@include md() {
		padding-bottom: 20px !important;
	}
}
.pb-lg-20 {
	@include lg() {
		padding-bottom: 20px !important;
	}
}
.pb-xl-20 {
	@include xl() {
		padding-bottom: 20px !important;
	}
}

.pb-30 {
	padding-bottom: 30px !important;
}
.pb-sm-30 {
	@include sm() {
		padding-bottom: 30px !important;
	}
}
.pb-md-30 {
	@include md() {
		padding-bottom: 30px !important;
	}
}
.pb-lg-30 {
	@include lg() {
		padding-bottom: 30px !important;
	}
}
.pb-xl-30 {
	@include xl() {
		padding-bottom: 30px !important;
	}
}

.pb-40 {
	padding-bottom: 40px !important;
}
.pb-sm-40 {
	@include sm() {
		padding-bottom: 40px !important;
	}
}
.pb-md-40 {
	@include md() {
		padding-bottom: 40px !important;
	}
}
.pb-lg-40 {
	@include lg() {
		padding-bottom: 40px !important;
	}
}
.pb-xl-40 {
	@include xl() {
		padding-bottom: 40px !important;
	}
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

.last-mb-cancel {
	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}	
}