<header class="header background_dark_blue">
	<div class="header__head">
		<div class="container">
			<div class="row justify-content-center justify-content-md-between align-items-center">
				<div class="header__hello padding mb-10 text-center">Приветствуем! У нас вы найдете все весовые решения для промышленности!</div>
				<div class="padding mb-10">
					<div class="row align-items-center">
						<div class="personal-cab padding">
							<div class="personal-cab__button">
								<img src="images/engineer2.jpg" alt="">
								<span class="mr-5">Вольфганг Миллер</span>
								<span class="caret caret_toggle caret_white"></span>
							</div>
							<div class="personal-cab__popup">
								<ul class="list-clr">
									<li><a href="#">Личный кабинет</a></li>
									<li><a href="#">Сообщения</a></li>
									<li><a href="#">Настройки</a></li>
								</ul>
								<a href="#">Выйти</a>
							</div>
						</div>
						<div class="padding">
							<div class="lang position-relative">
								<div type="button" class="lang__btn button-clr">
									<img src="images/en.png" alt="">
									<span class="lang__btn-txt">Eng</span>
									<span class="lang__btn-caret caret caret_toggle caret_white"></span>
								</div>
								<ul class="hidden list-clr lang__list">
									<li>
										<a href="#"><img src="images/en.png" alt=""> Ru</a>
									</li>
									<li>
										<a href="#"><img src="images/en.png" alt=""> Ua</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="padding"></div>
	</div>
	<div class="header__inner">
		<div class="container">
			<div class="row align-items-center justify-content-center justify-content-md-between">
				<h1 class="header__logo logo padding mt-0 pt-10 mb-10 w-auto col-lg-3">
					<a href="#" class="header__logo-in d-flex align-items-center justify-content-center justify-content-md-start">
						<img src="images/logo-icon.png" alt="">
						<div>
							<strong>Industrial</strong>
							<span>Markets</span>
						</div>
					</a>
				</h1>
				<div class="header__inner-center padding mb-10 col-lg col-xl">
					<form class="search-form position-relative">
						<select class="search-form__select select nice-select select-search select-outer-tabs">
							<option data-display="Везде" value="1">Везде</option>
							<option value="2">тест 2</option>
							<option value="3">тест 3</option>
							<option value="4">тест 4</option>
						</select>
						<input type="search" class="search-form__input">
						<button type="submit" class="search-form__button button-clr button-search">
							<span class="icon icon-zoom"></span>
						</button>
					</form>
				</div>
				<div class="other-actions padding col-lg-default">
					<ul class="list-clr d-flex flex-wrap">
						<li>
							<a href="#"><span class="other-actions__icon icon icon-comment-light"><span class="other-actions__notif notif">9</span></span><div>Новые сообщения</div></a>
						</li>
						<li>
							<a href="#"><span class="other-actions__icon icon icon-task"></span><div>Создать задачу</div></a>
						</li>
						<li>
							<a href="#"><span class="other-actions__icon icon icon-star"><span class="other-actions__notif notif">1</span></span><div>Мои закладки</div></a>
						</li>
					</ul>
				</div>
				<nav class="header__menu main-menu padding offset-lg-3">
					<div class="main-menu__inner background_dark_blue">
						<button class="main-menu__close button-clr icon-svg icon-svg_close_white"></button>
						<ul class="list-clr d-lg-flex flex-lg-wrap">
							<li>
								<div>
									<a href="#">Производители</a>
								</div>
								<ul class="list-clr hidden">
									<li><a href="#"><div>Тест 1</div></a></li>
									<li><a href="#"><div>Тест 2</div></a></li>
									<li><a href="#"><div>Тест 3</div></a></li>
									<li><a href="#"><div>Тест 4</div></a></li>
								</ul>
							</li>
							<li>
								<div>
									<a href="#">О нас</a>
								</div>
							</li>
							<li>
								<div>
									<a href="#">Специальные возможности</a>
								</div>
							</li>
							<li>
								<div>
									<a href="#">Центр поддержки</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>
				<div class="padding d-lg-none mb-10 w-auto">
					<button class="header__menu-open icon-svg icon-svg_hamburger_white button-clr" type="button"></button>
				</div>
			</div>
		</div>
	</div>
</header>
