<script src="js/libs/jquery.js"></script>
<script src="js/libs/popper.js"></script>
<script src="js/libs/bootstrap.js"></script>
<script src="js/libs/bootstrap-multiselect.js"></script>
<script src="js/libs/owl.carousel.js"></script>
<script src="js/libs/jquery.fancybox.min.js"></script>
<script src="js/libs/jquery.nstSlider.js"></script>
<script src="js/libs/jquery.sticky-kit.js"></script>
<script src="js/libs/jquery.mCustomScrollbar.js"></script>
<script src="js/libs/jquery.mousewheel.js"></script>
<script src="js/libs/jquery.nice-select.min.js"></script>
<script src="js/main.js"></script>